/*
 * Overrides CSS
 */
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';

body.site {
    font-family: 'Roboto Condensed', sans-serif;
}

body.site p {
    line-height: 25px;
}

.clr {
  clear: both;
}

body.site main#content div.item-page .pull-right.item-image {
    float: none;
}
.logo-small img {color:#fff} 

/*Mic overrides*/

.pull-right {
    padding-left: 3%;
}

.pull-left {
    padding-right: 3%;
}

.blog .item {
     border-bottom: solid 10px #f2f2f2;
}

/*Resp overrides*/

@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
      position: relative;
  }

  .innerwidth {
      width: 1180px;
      margin: 0 auto;
  }
}

a {
  transition: color 0.4s ease-in-out;
}
.corpColor {
    color: #234da0;
}
body.site .clear-slider,
body.site .clear-container {
    filter: blur(0px);
      -webkit-filter: blur(0px);
    transition: 
      filter .3s ease-in-out,
      -webkit-filter .3s ease-in-out;
}

body.site.open .clear-slider,
body.site.open .clear-container {
    filter: blur(10px);
      -webkit-filter: blur(10px);
}


/*top menu*/

.navbar {
    margin: 0 auto 15px;
    padding: 0;
    position: relative;
    z-index: 999;
    background-color: #fff;
}
nav.navbar-wrapper {
    margin: 0 auto 20px;
    position: relative;
}
.logo-small {
    position: absolute;
    left: calc(80px + 256 * ((100vw - 1920px) /1920));
    top: 25px;
    border-radius: 50%;
    border: 5px solid #fff;
    width: 120px;
    transition: all .3s ease-in-out;
}
.logo-small img {
    max-width: 100%;
}
div.menuWrapper.sticky .logo-small {
    top: 10px;
}
div.menuWrapper.sticky .logo-small  {
    width: 80px;
    left: calc(160px + 256 * ((100vw - 1920px) /1920));
    transition: width .4s ease-in-out .1s;
}
body.is_home .logo-small {
    transform: rotateX(90deg);
    opacity: 0;
}
body.is_home.rdy .logo-small {
    opacity: 1;
    animation:
      rotateX 0.6s ease forwards;
}
@keyframes rotateX {
    from{transform: rotateX(90deg);}
    to {transform: rotateX(360deg);}
}

@media(min-width: 980px) {
  nav.navbar-wrapper:before {
      content: ' ';
      background-color: #234da0;
      width: 100%;
      height: 25px;
      position: absolute;
      z-index: -1;
      top: 60px;
      transition: all .3s ease-in-out;
  }
  div.menuWrapper.sticky nav.navbar-wrapper:before {
      top: 35px;
      height: 20px;
  }
}
h3.logoHeader {
    position: absolute;
    top: 43px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding-right: 5px;
    padding-left: calc(220px + 256 * ((100vw - 1920px) /1920));
    z-index: -1;

}
div.menuWrapper.sticky h3.logoHeader {
    top: 16px;
    padding-left: calc(270px + 256 * ((100vw - 1920px) /1920));    
}
div.menuWrapper {
    position: relative;
    box-shadow: none;
    transition: box-shadow .4s ease-in-out;
}
div.menuWrapper.sticky {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    height: 110px;
    box-shadow: 2px 2px 20px #000;
    animation: topSlide .6s ease-in-out .1s forwards;
}
@keyframes topSlide {
    from{ top: -30px;
          opacity: 0;}
    to {  top: 0px;
          opacity: 1;}
}
div.menuWrapper.sticky .navbar-wrapper,
div.menuWrapper.sticky .navbar {
    margin-bottom: 0px;
}
div.navbar-inner ul.nav.top a {
    font-size: 16px;
    color: #234da0;
    text-shadow: none;
    padding: 50px 15px 10px;
    transition: all 0.1s ease-in-out .1s;
}
body#bodySite div.navbar-inner ul.nav-child a {
    padding: 15px 20px 15px;
}
body.site div.navbar-inner div#module_146 ul.nav-child.dropdown-menu li>a {
    color: #234da0;
}
div.menuWrapper.sticky div.navbar-inner ul.nav a {
    font-size: 15px;
    padding: 20px 15px 10px;
    letter-spacing: -0.4px;
}
div.menuWrapper.sticky div.navbar-inner ul.nav li.item-477 a {
    letter-spacing: -0.9px;
}
ul.nav li {
    color: #234da0;
}

/*header*/
.menuWrapper h3.vcardHeader {
    font-size: 24px;
    margin: 0px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.menuWrapper .vcard {
    position: absolute;
    right: calc(50px + 16 *((100vw - 1980px) / 1280) );
    top: 0;
    background-color: #234da0;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 1px 5px 10px #000;
    z-index: 21;
}
div.menuWrapper.sticky .menuWrapper .vcard {
    padding: 5px 10px;
}
div.menuWrapper.sticky .vcard p.tel,
div.menuWrapper.sticky .vcard h3.vcardHeader {
    font-size: 18px;
    margin: 0px;
}
@media(min-width: 1280px) {
  .extLogoHolder {
      position: absolute;
      top: calc(480px + 720 * ((100vw - 1980px) / 1980));
      z-index: 21;
      right: calc(50px + 128 * ((100vw - 1980px ) / 1980));
      box-shadow: 1px 1px 10px 4px #2d2d2d;
  }
}
.clear-slider {
    position: relative;
    margin-top: 60px;
}
.clear-slider-wrap {
    z-index: 0;
}
@media(min-width: 1980px) {
  body.site .clear-slider {
      margin: 0 auto;
      width: 1980px;
  }
}
@media(min-width: 1281px) {

  div[itemprop="articleBody"] {
      padding-top: 25px;
      min-height: 410px;
  } 
  div.kontakt div[itemprop="articleBody"] {
      padding-top: 25px;
      min-height: 50px;
  }   
}
/*Mic overrides margin von 30px auf 10px*/
div[itemprop="articleBody"] h3 {
  font-size: 24px;
  margin: 0 0 10px;
}
p.tel {
  font-size: 24px;
  margin: 10px 0px;
}
p.tel a {
  color: #fff;
}
.menuWrapper p.adr {
    display: none;
}
div.custom p:last-child {
  margin-bottom: 0px;
}
body.site div#sliderWrapper h1 {
    text-shadow: 2px 2px 5px #3a3a3a;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 34px;
    opacity: 0;
    background-color: rgba(222,222,222, 0.7);
    padding: 10px 15px;
    animation: blur 2.5s ease 2s forwards;
}
@-webkit-keyframes blur {
    from {
      -webkit-filter: blur(10px);
      filter: blur(10px);
      opacity: 0;
    }
    to {
      -webkit-filter: blur(0px);
      filter: blur(0px); 
      opacity: 1;
    }
}
@keyframes blur {
    from {
      -webkit-filter: blur(10px);
      filter: blur(10px);
      opacity: 0;
    }
    to {
      -webkit-filter: blur(0px);
      filter: blur(0px); 
      opacity: 1;
    }
}
div#descHeader {
    background-color: #234da0;
    color: #fff;
}
div#descHeader h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin:  0 0 0px 6px;;
}

/*Suche*/
body#bodySite.itemid-856 .autocomplete-suggestions {
    z-index: initial !important;
}
body#bodySite .autocomplete-suggestions {
    z-index: -1 !important;
}
body#bodySite.open .autocomplete-suggestions {
    z-index: 99999 !important;
} 
/*body#bodySite .autocomplete-suggestions {
    display: block !important;
    box-shadow: 0px 5px 30px -7px #7d7d7d;
    border: none;
}*/
a.mod-articles-latest-title p {
    color: #1e95d1;
    font-size: 14px;
}
div#suche {
    margin-left: calc(220px + 352 *((100vw - 1980px) / 1980 ));
    position: relative;
}
.finder_menu {
    display: flex;
}
div#suche button {
    background: transparent;
    border: none;
    box-shadow: none;
    margin-top: 0px;
    padding: 0 0 0 12px;
    transition: margin 0.3s ease-in-out;
}
div#suche .morphsearch.open button {
    margin-top: 30px;
}
div#suche .icon-search {
    background-image: url("/images/search.png");
    background-position: 0px 0px;
    background-size: 80%;
}
div#suche button span {
    width: 32px;
    height: 32px;
}
.module-column ul {
    list-style-type: none;
}
ul.category-module li> a,
ul.latestnews li> a {
    font-size: 16px;
    color: #444;
}

/*submenu toggle*/
.span3.clear-left .nav-child {
    display: none;
}
.span3.clear-left ul li a {
    display: inline;
}
.subMenuToggle {
    padding: 0px 10px;
    margin-left: 20px;
}
div.span3.clear-left .dropdown-submenu>a.subMenuToggle.show:after {
    border-top-color: #88d386;
    border-left-color: transparent;
    border-width: 5px 5px 0px 5px;
    border-right-color: transparent;
}
div.span3.clear-left .dropdown-submenu>a.subMenuToggle:after {
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    border-right-color: #88d386;
    border-top-color: transparent;
    border-width: 5px 5px 5px 0px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

@media(max-width: 767px) {

  body.site div.span3.clear-left .dropdown-submenu>a.subMenuToggle.show:after {
      border-width: 8px 8px 8px 0px;
  }
  body.site div.span3.clear-left .dropdown-submenu>a.subMenuToggle:after {
      position: relative;
      border-width: 8px 8px 0px 8px;
  }
}

div.span3.clear-left .dropdown-submenu>a:after {
    content: none;
}
body.site .dropdown-menu>li>a:hover,
body.site .dropdown-menu>li>a:focus,
body.site .dropdown-submenu:hover>a,
body.site .dropdown-submenu:focus>a {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
}

/*morphSearch*/
.morphsearch {
  width: 200px;
  min-height: 40px;
  position: absolute;
  z-index: 10000;
  background: transparent;
  top: 0px;
  left: 0px;
  box-shadow: none;
    -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right, background, box-shadow;
  transition-property: min-height, width, top, right, background, box-shadow;
    -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open {
  width: 90%;
  min-height: 650px;
  top: 50px;
  left: 0px;
  background: #f5f5f5;
  opacity: 1;
  box-shadow: 0px 10px 40px 4px #252525;
}

.morphsearch-form {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open .morphsearch-form {
  width: 80%;
  height: 160px;
    -webkit-transform: translate3d(0,3em,0);
  transform: translate3d(0,3em,0);
}
body.site.phone .morphsearch-input {
  width: 70%;
}
body.site .morphsearch-input {
  width: 100%;
  height: 100%;
  padding: 0 10% 0 10px;
  background: transparent;
  font-size: 16px;
  color: #ec5a62;
  border-radius: 0px;
    -webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
  transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.morphsearch-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.morphsearch.hideInput .morphsearch-input {
  color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
  font-size: 48px;
}
@media(max-width: 1280px) {

    body.site .morphsearch.open .morphsearch-input {
        font-size: 25px;
    }
}

/* placeholder */
.morphsearch-input::-webkit-input-placeholder {
  color: #c2c2c2;
}

.morphsearch-input:-moz-placeholder {
  color: #c2c2c2;
}

.morphsearch-input::-moz-placeholder {
  color: #c2c2c2;
}

.morphsearch-input:-ms-input-placeholder {
  color: #c2c2c2;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="search"] { /* reset normalize */
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
  outline: none;
}

.morphsearch.open .morphsearch-submit {
  pointer-events: auto;
  opacity: 1;
    -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
  transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.morphsearch-close {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale3d(0,0,1);
  transform: scale3d(0,0,1);
}

.morphsearch.open .morphsearch-close {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  border-radius: 3px;
  opacity: 0.2;
  background: #000;
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
  opacity: 1;
}

.morphsearch-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.morphsearch-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.morphsearch-content {
  color: #333;
  margin-top: 4.5em;
  width: 70%;
  height: 0;
  overflow: hidden;
  padding: 0 10.5%;
  background: #f1f1f1;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translateX(5%);
}

.morphsearch.open .morphsearch-content {
  opacity: 1;
  overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
  pointer-events: auto;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.module-column {
  width: 30%;
  padding: 0 0 6em;
  float: left;
  opacity: 0;
  -webkit-transform: translate3d(0,100px,0);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.module-column h3 {
    color: #234da0;
}

.morphsearch.open .module-column:first-child {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.morphsearch.open .module-column:nth-child(2) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.morphsearch.open .module-column:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.morphsearch.open .module-column {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 1111;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.morphsearch.open ~ .overlay {
  opacity: 1;
}

/*<! Suche Ende */

/*startseite KatNavi*/
@media(min-width: 768px) {
  body.is_home .clear-container {
      background: url('/images/rewo-kat-bckgr.jpg') top left no-repeat;
      background-size: cover;
      box-shadow: 0px 7px 10px -6px #565656;
      margin-bottom: 30px;
  }
  .nullAchtNeun.blog-featured {
      margin-top: 30px;
  }
  .nullAchtNeun.blog-featured div.item {
      background-color: rgba(253, 253, 251, 0.62);
      text-align: center;
      margin-bottom: 30px;
      position: relative;
  }
  .nullAchtNeun.blog-featured div.item img {
      position: relative;      
      width: 16vw;
      filter: blur(0px);
        -webkit-filter: blur(0px);
      transition: 
        filter .4s ease-in-out,
        -webkit-filter .4s ease-in-out;
  }
  .nullAchtNeun.blog-featured div.item:hover img {
      filter: blur(5px);
        -webkit-filter: blur(5px);
  }
  .nullAchtNeun.blog-featured div.item:hover h2 a {
    color: #234da0;
  }
}
@media(min-width: 1280px) {
  .hoverLayer {
    position: absolute;
    padding: 30px 10px;
    opacity: 0;
    bottom: 0px;
    color: #fff;
    transition: all .25s ease-in-out .2s;
  }
  .nullAchtNeun.blog-featured div.item:hover .hoverLayer {
    bottom: 50px;
    opacity: 1;
    background-color: rgba(66, 66, 66, 0.8);
    text-shadow: 0px 2px 10px #4c4c4c;
  }
  .nullAchtNeun.blog-featured div.item .hoverLayer a {
    color: #fff;
    text-decoration: none;
  }
}

.nullAchtNeun.blog-featured div.item h2  {
    font-size: 21px;
    text-align: right;
    margin: 0px 15px 0px;
}
body.mobile .nullAchtNeun.blog-featured div.item h2  {
    text-align: center;
}
.nullAchtNeun.blog-featured div.item h2 a {
    color: #000;
    transition: color .4s ease-in-out;
}
/*article / content*/
body#bodySite.itemid-1045 .blog h2 {
    margin: 30px 0 30px 0 !important;
}
.avPlayerWrapper.avVideo {
    width: 50%;
    margin: 0 auto;
}
body.site .acysubbuttons .btn,
body.site a.btn,
body.site .ap-btn,
body.site button.btn {
    background: #fff;
    color: #234da0;
    border: 1px solid #234da0;
    text-shadow: none;
    box-shadow: 0px 2px 15px -4px #234da0;
    font-size: 16px;
    padding: 2px 12px;
    transition: all .3s ease-in-out;
}
body.site .acysubbuttons .btn:hover,
body.site a.btn:hover,
body.site .ap-btn:hover,
body.site button.btn:hover {
    background: #6db3f2;
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 18%, #234da0 100%);
    background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 18%,#234da0 100%);
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 18%,#234da0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#234da0',GradientType=0 );
    color: #fff;
}
body#bodySite.itemid-856 div#search-form button.btn {
    background: #234da0;
}
body.site form#ap_164 .ap-btn {
    padding: 5px 20px;
}
body.site .icon-chevron-right {
    display: none;
}
body.itemid-479 h3 {
    font-weight: normal;
}
body.site .page-header {
    border-bottom: none;
}
body.site p.img_caption {
    display: none;
}
ul.nav.menu.contentMenu li.current>a {
    font-weight: bold;
    text-shadow: 2px 2px 5px #989898;
}
body.site .dropdown-submenu>a:after {
    margin-right: 40px;
    border-top-color: #88d386;
    border-left-color: transparent;
    border-width: 5px 5px 0px 5px;
}
.span3.clear-left ul li {
    padding: 10px 0 10px 15px;
}
.span3.clear-left ul li a {
    color: #234da0;
}
.span3.clear-left h3 {
    color: #234da0;
    border-bottom: 15px solid #234da0;
    text-align: center;
    font-weight: normal;
    font-size: 21px;
}
h2.articleSecondHeader,
div.blog h2,
div.blog h2 a {
    font-size: 24px;
    color: #234da0;
    font-weight: normal;
    margin-top: 30px;
}
.page-header h1 {
    font-size: 30px;
    color: #234da0;
    text-shadow: 2px 4px 10px #a9a9a9;
    font-weight: normal;
    margin-top: 30px;
}
div.item-page .flex div.item-image {
    text-align: right;
    margin: 30px 0;
}
@media(min-width: 768px) {
  div.item-page .flex div.item-image img {
      box-shadow: 10px -5px 30px -10px #909090;
  }
}
div.item-page .page-header {
    border-bottom: none;
}
/*div.item-page .pull-right.item-image {
    position: relative;
    bottom: 60px;
    margin-left: 50px;
}*/
div.blog p,
div.blog ul li,
div.blog a,
div.item-page p,
div.item-page ul li {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
div.item-page ul li {
/*  background: url('/images/list-item.jpg') no-repeat left center;
  text-indent: 30px;
  list-style-type: none;*/
  margin-left: 30px;
}
@media (min-width: 1280px) and (max-width: 2000px) {
  div#trenner {
      position: absolute;
      top: calc(960px + 224 * ((100vw - 1980px) / 960));
      left: 0;
      display: block;
      width: 54%;
      height: 280px;
      background: #fbfbf7;
      z-index: -1;
      box-shadow: 0px 0px 30px 4px #d6d6d6;
      border: 1px solid #f3f3f3;
  }
}
main#content {
    margin-bottom: 30px;
}

  /*logged-in beschreibung*/
  body.guest div.descDl {
      display: none;
  }
  body.regUser div.descDl {
      display: block;
  }

/*bottom*/
@media(min-width: 768px) {
  .lazy-hidden {
      opacity: 0;
  }
  .lazy-hidden {
      background: #eee url('loading.gif') no-repeat 50% 50%;
  }
  .lazy-loaded {
      -webkit-transition: opacity 0.6s;
      -moz-transition: opacity 0.6s;
      -ms-transition: opacity 0.6s;
      -o-transition: opacity 0.6s;
      top: 0 !important;
      transition: opacity 0.6s, top 0.8s ease;
      opacity: 1;
  }
  .picHolder img {
      top: 200px;
  }
  div.item-page ul {
    margin: 0 0 10px 0;
  }
}

@media(min-width: 768px){

  div.position_bottom-last div.vcard p.adr,
  div.position_bottom-last div.vcard span.org {
      padding-left: 15px;
  }
  .bottom-wrap>.row-fluid {
      display: flex;
  }
  .module_bottom:not(.position_bottom-last) {
      box-shadow: 0px 7px 20px -3px #d0d0d0;
      padding: 20px;
  }
  .position_bottom1,
  .position_bottom2 {
      flex: 1;    
  }
  .module_bottom h4 {
    font-size: 24px;
  }
  .module_bottom p {
      font-size: 21px;
/*      padding-left: 15px;*/
  }
}

.module_bottom iframe {
    width: 100%;
    height: 300px;
}
.moduletable h3 {
  text-shadow: 3px 3px 10px #d4d4d4;
}
.module_bottom .moduletable h3,
.module_bottom .moduletable h4,
.module_bottom .moduletable p {
  color: #234da0;
}
.flex {
  display: flex;

}
div.item-page .flex {
  justify-content: space-between;

}
.module_bottom .flex p,
.module_bottom .flex a {
    flex-basis: 50%;
}
.bottom,
.bottom2 {
    margin-bottom: 30px;
}
@media(min-width: 1620px) {
  .module_bottom.position_bottom7 .moduletable {
      position: relative;
  }
  body.site h3.rewoInfo {
      position: absolute;
      left: -20%;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 3px 3px 10px #2b2b2b;
  }
  .bottom2.fullwidth {
      background-color: #234da0;
      z-index: 0;
  }
  .module_bottom.position_bottom7 {
      background-color: #f7f5f5;
      z-index: 1;
  }
}
.position_bottom-last {
    padding: 20px;
}
.position_bottom-last h3 {
    margin-bottom: 50px;
}
.figHolder {
    left: 0%;
    padding: 15px;
}


/*footer*/
div#copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
body.is_home footer.footer,
footer.footer {
    min-height: 50px;
    background-color: #f7f5f5;
}
/*footer.footer {
    margin-top: 220px;
}*/
body.is_home footer.footer {
    position: relative;
    top: 100px;
    margin-top: 0px;
}
div#copyright {
    position: relative;
    top: 110px;
    margin-bottom: 30px;
    font-size: 12px;
}
body.Firefox div#copyright {
     margin-bottom: 130px; 
}
img.footerImg {
  max-width: 240px;
  position: relative;
  top: -50px !important;  
  box-shadow: 2px 3px 20px -3px #9e9e9e;
}


 /*Menue*/
body.site li.dropdown-submenu.deeper.parent ul {
    padding-top: 15px;
}
body.site.mobile .mm-listview li.item-954 .mm-next.mm-fullsubopen,
body.site.mobile .mm-listview li.item-478 .mm-next.mm-fullsubopen,
body.site.mobile .mm-listview li.item-984 .mm-next.mm-fullsubopen {
    width: 50%;
}
body.site .dropdown-menu {
    padding: 0px 0;
}
body.site .mm-listview>li>a,
body.site .mm-listview>li>span {
    color: #234da0;
  }
 div.nav.menu.top {
    z-index: 1;
 }
div.navbar-inner ul.nav a {
    box-shadow: 3px 2px 10px -5px #dedede;
    text-shadow: none;
    transition: 
      box-shadow 0.4s ease-in-out,
      text-shadow 0.2s ease-in-out;
}
div.navbar-inner ul.nav li:last-child a {
    box-shadow: -1px 2px 10px -5px #dedede;
}
body.site div.navbar-inner div#module_146 ul.nav>.active a,
body.site .dropdown-menu>.active>a,
body.site div.navbar-inner div#module_146 ul.nav-child.dropdown-menu li.active>a,
body.site .dropdown-menu>.active>a:hover,
body.site .dropdown-menu>.active>a:focus {
    color: #fff;
}
div.navbar-inner ul.nav>.active>a,
div.navbar-inner ul.nav>.active a:focus,
div.navbar-inner ul.nav>.active a:hover,
body.site .dropdown-menu>.active>a,
body.site .dropdown-menu>.active>ul li a,
body.site .dropdown-menu>.active>a:hover,
body.site .dropdown-menu>.active>a:focus {
    box-shadow: none;
    background: #6db3f2;
    background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 18%, #234da0 100%);
    background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 18%,#234da0 100%);
    background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 18%,#234da0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#234da0',GradientType=0 );

}
body.site div.navbar-inner ul.nav>.active a:focus,
body.site div.navbar-inner ul.nav>.active a:hover,
body.site .dropdown-menu>.active>a:hover,
body.site .dropdown-menu>.active>a:focus {
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    box-shadow: inset -1px 2px 20px 0px #a2a6d2, 0px 6px 20px 2px #234da0;
}
div.navbar-inner ul.nav a:focus,
div.navbar-inner ul.nav a:hover,
body.site .dropdown-menu>.active>a:hover,
body.site .dropdown-menu>.active>a:focus,
body.site div.navbar-inner div#module_146 ul.nav-child.dropdown-menu li>a:hover,
body.site div.navbar-inner div#module_146 ul.nav-child.dropdown-menu li>a:focus {
    background: #6db3f2;
    background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 18%, #234da0 100%);
    background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 18%,#234da0 100%);
    background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 18%,#234da0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#234da0',GradientType=0 );
    color: #fff;
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px 0;
    background-color: transparent;
    background-image: none;
}

 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {

   .dropdown-menu {
      margin: 0;
   }
/*   body.site .nav.menu > li.dropdown ul.dropdown-menu {
        display: block;
        z-index: 0;
        width: 580px;
        padding: 0px; 
        top: -80px;
        opacity: 0;
        visibility: hidden;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        transition:
          top 0.4s ease-in-out,
          filter 0.3s ease-in-out,
          -webkit-filter 0.3s ease-in-out,
          opacity 0.3s ease-in-out;
   }
   body.site .nav.menu.top > li.dropdown:hover ul.dropdown-menu {
        top: 80px;
        opacity: 1;
        visibility: visible;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        transition:
          top 0.3s ease-in-out,
          filter 0.4s ease-in,
          -webkit-filter 0.4s ease-in,
          opacity 0.5s ease-in-out;        
   }*/
   .nav.menu   > li.produkte.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.produkte.dropdown:hover ul.dropdown-menu,
   .nav.menu   > li.item-984.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.item-984.dropdown:hover ul.dropdown-menu {
      width: 444px;
      padding: 0px; 
   }   
   .nav.menu   > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
  body.site .nav.menu   > li.produkte.dropdown ul.dropdown-menu li,
  body.site .nav.menu   > li.produkte.dropdown ul.dropdown-menu li a,
  body.site .nav.menu   > li.item-984.dropdown ul.dropdown-menu li,
  body.site .nav.menu   > li.item-984.dropdown ul.dropdown-menu li a {
      display: inline-block;
      text-align: left;
   } 
/*   body.site .nav.menu   > li.dropdown:hover ul.dropdown-menu li,
   body.site .nav.menu   > li.dropdown:hover ul.dropdown-menu li a {
      display: inline-block;
   }*/
  body.site .nav.menu   > li.produkte.dropdown ul.dropdown-menu li a,
  body.site .nav.menu   > li.item-984.dropdown ul.dropdown-menu li a {
      padding: 20px 35px 20px;
      width: 180px;
      box-shadow: none;
  }
   /*body.site .nav.menu   > li.dropdown:hover ul.dropdown-menu li a {
      padding: 50px 45px 10px;
      width: 200px;
      box-shadow: none;
  }*/

   .nav.menu   > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav.menu   > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}
 

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/
#slider-container ol.carousel-indicators li {
    box-shadow: 2px 3px 6px #333;
    cursor: pointer;
}
body.desktop #slider-container .carousel-inner .item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}
/*body.desktop .carousel-inner .item {
    height: 600px;
}*/
body.desktop #slider-container div#myCarousel,
body.tablet #slider-container div#myCarousel {
    margin-bottom: 0;
}
body.site #slider-container .carousel-indicators li {
    background-color: #e2e2e2;
}
body.site #slider-container .carousel-indicators .active {
  background-color: #234da0;
}
body.site #slider-container .carousel-indicators {
    position: absolute;
    top: initial;
    bottom: 20px;
    right: 50%;
    -webkit-transform: translate(50%);
        -ms-transform: translate(50%);
            transform: translate(50%);
}
body.site #slider-container .carousel-indicators li {
    width: 15px;
    height: 15px;
}
#slider-container .item {
   max-width: 100%;
}
body.desktop #slider-container .item {
    height: 606px;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/*scrollToTop*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
      background-color: #234da0;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 10%;
    bottom: 10%;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
span.scroll-top-inner i {
    -webkit-filter: invert();
            filter: invert();
}
body.IE .scroll-top-wrapper {
      background-color: rgba(71, 140, 217, 1);
}
.logout-description {
    margin: 30px 0px;
}
body.site.itemid-978 .form-horizontal .controls {
    margin-left: 0px;
}
/*cookie control*/
body#bodySite #cookiesck .cookiesck_inner a {
    color: #fff;
    text-decoration: underline;
}
  body#bodySite #cookiesck_accept {
      background: #234da0;
      float: none;
      width: 80px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#bodySite #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    padding: 10px 10px 10px 0px;
    text-decoration: underline;
}
body#bodySite #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#bodySite #cookiesck .cookiesck_inner {
    display: initial;
    line-height: 20px;
}
body#bodySite #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #234da0;
}
@media(max-width: 1280px) {
    body#bodySite.phone #cookiesck_readmore {
      padding: 10px 10px 10px 0;
  }
  body#bodySite.phone #cookiesck_accept {
      float: none;
      width: 80px;
      margin: 10px auto !important;
  }
  body#bodySite.phone #cookiesck {
      text-align: left;
      line-height: 25px;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}