/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}
@media(max-width: 375px) {

	body.site div#suche .morphsearch.open {
	    min-height: 1280px;
	}
	body.site .morphsearch-content .module-column h3 {
		font-size: 18px;
	}
}
@media(width: 480px) {
	
}
@media(width: 600px) {
	
}

@media(width: 736px) and (orientation: landscape) {
	body.site div.vcard p.tel,
	body.site div.vcard p.adr {
	    font-size: 24px;
	}
}

@media(max-width: 767px) and (orientation: portrait) {
	html.mm-opened body.site {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}

@media(width: 768px) and (orientation: portrait){
	body.site #logoContainer p.tel {
	    margin: 20px 0px 10px;
	}
}

@media(width: 800px) {
	
}
@media(min-width: 768px) and (orientation: landscape) {

	body.tablet .nullAchtNeun.blog-featured div.item {
		    height: 170px;
	}
}
@media(width: 1680px) {
	body.site div.menuWrapper.sticky div.navbar-inner ul.nav a {
	    font-size: 14px;
	}
	body.desktop .menuWrapper.sticky .morphsearch {
		top: 10px;
	}
	body.desktop .menuWrapper.sticky h3.logoHeader {
		font-size: 14px;
	}
	body.desktop .menuWrapper.sticky li.item-954.produkte span {
	    font-size: 13px;
	}
}

@media(max-width: 320px) {

	.logo-small {
	    width: 40px !important;
	    top: 55px !important;
	}
	body.site .figHolder.mobile img {
	    height: 130px !important;
	}
	body.site .morphsearch-input {
	    width: 40% !important;
	}
}

@media(max-width: 360px) {

	body.site div.site_wrapper main#content div.item-page ul li {
	    font-size: 13px !important;
	}
}

@media(max-width: 414px) {
	
	body.itemid-111 .item-image {
		display: none;
	}
	body.site .pull-right.item-image,
	body.site .item-image {
	    max-width: 50%;
	}	
}

@media(min-width: 415px) and (max-width: 1280px) {

	body.site .pull-right.item-image {
	    max-width: 25%;
	}
}

@media(max-width: 736px) {
	body#bodySite.phone #ap_ajax_qc_164 input,
	body#bodySite.phone .ap_ajax_qc textarea,
	body#bodySite.phone .ap_ajax_qc .error {
	    width: 92% !important;
	}
}

@media(max-width: 767px) and (orientation: portrait) {
	body.site img.logoDesktop {
	    width: 80%;
	}
}

@media(max-width: 767px) and (orientation: portrait) {

	body.site div.item-page ul li:nth-child(2) {
	    background: url('/images/list-item.jpg') no-repeat left 20%;
	}
}

@media(max-width: 767px) {
	body.phone div.bottom, div.bottom2 {
	    padding: 0 20px;
	}
	body.mobile .produkte .item figure {
	    width: 184px;
	    margin: 0 auto;
	}
	body.phone .nullAchtNeun.blog-featured div.item h2 {
	    text-align: center;
	    margin: 20px 15px 20px;
	}

	body.mobile .breadcrumb {
	    padding: 8px 20px;
	}
	body.site a.itemAnchor {
	    padding: 5px;
	    color: #fff;
	    position: relative;
    	top: -10px;
    	box-shadow: 0px 2px 10px -5px #234da0;
		background:#234da0;
	}
	.row-fluid.mobileFlex {
	    display: flex;
	    flex-direction: column-reverse;
	}
	body.site .hoverLayer {
	    display: none;
	    visibility: hidden;
	}
	body.is_home .nullAchtNeun.blog-featured div.item h2 a {
	    color: #234da0;		
	}
	body.is_home .nullAchtNeun.blog-featured div.item h2 {
	    font-size: 18px;
	    text-align: initial;
	    margin: 0px 15px 0px 0px;
	    min-width: 180px;
	}
	body.is_home .items-row .item {
	    display: flex;
	    justify-content: space-between;
	    padding: 15px;
	    box-shadow: 0px 0px 10px -4px #000;
	    margin: 0px 0px 15px;
	    background-color: #fdfdfb;
	}
	body.site .flex {
	    background: #f7f5f5;
	}
	body.site div#mobileHeader.menuWrapper .vcard {
	    margin-right: 5px;
	}
	body.site .lgHeaderWrapper h3 {
	    margin-left: 0px; 
	    float: right;
	    margin-right: 20px;
	}
	body.site .rewoAdresse {
	    font-size: 14px;
	    top: 40px;
	    bottom: 0px;
	}
	body.site .lgHeaderWrapper {
	    top: 75px;
	}
	body.site .mobileMenuWrapper {
	    margin: 60px 0px 0px;
	}
	body.site .figHolder.mobile img {
	    height: 150px;
	}

	body.site div#mobileHeader .logo-small {
		width: 70px;
		position: relative;
		top: 45px;
		transform: none;
		animation: none;
	}

	body.site div#descHeader {
	    background-color: #f7f5f5 !important;
	    color: #234da0 !important;
	}

	body.site ul.qualiList li {
	    padding-left: 20px;
	    text-indent: 0px;
	}
	body.site div#copyright:not(.imprLink) {
	    font-size: 12px;
	    line-height: 18px;
	    top: 130px;
	}
	body.site img.footerImg {
	    max-width: 160px;
	    top: -30px !important;
	}
	body.site .bottom2 iframe {
		width: 100%;
		height: 230px;
		margin: 0 auto;
	}	
	body.site .bottom2 p.adr,
	body.site .bottom2 .org {
	    font-size: 16px !important;
	    line-height: 21px;
	    margin-bottom: 10px;
	}
	body.site .bottom2 p {
	    text-align: left;
	}
	body.site .moduletable h3 {
	    text-align: left;
	    margin-bottom: 10px;
	}
	body.site div.site_wrapper .picHolder img {
	    max-width: 25%;
	    float: left;
	    padding: 0px 10px 5px 0px;
	}
	body.site div.clear-slider p.tel,
	body.site div.clear-slider p.adr {
		font-size: 20px;
		line-height: 25px;
	}
	body.site {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	body.site h1 {
		font-size: 21px;
		margin: 5px 0px 15px;
		line-height: 30px;
	}
	body.site h2 {
		font-size: 18px;
		line-height: 25px;
		margin: 5px 0px 10px;
	}
	body.site div[itemprop="articleBody"] h3 {
	    font-size: calc(40px + 32 * (100vw - 767px) / 1024);
	}
	body.site .site_wrapper div.item-page p {
	    line-height: 28.8px;
	}
	body.site .site_wrapper div.item-page p,
	body.site .site_wrapper main#content div.item-page ul li {
	    font-size: 16px;
	}
	body.site .menuWrapper .vcard {
	    text-align: right;
	}
	body.site div#logoContainer {
    	position: initial;
	}
	body.site div#logoContainer {
    	display: flex;
	}
}

@media(min-width: 768px) {

	body.itemid-471 div.span3.clear-left,
	body.itemid-472 div.span3.clear-left,
	body.itemid-473 div.span3.clear-left,
	body.itemid-474 div.span3.clear-left,
	body.itemid-475 div.span3.clear-left,
	body.itemid-476 div.span3.clear-left {
	    top: 320px;		
	}
	body.Firefox.itemid-472 div[itemprop="articleBody"] {
		/*min-height: 1560px;*/
		min-height: 120vh;
	} 	
	body.itemid-472 div[itemprop="articleBody"] {
		/*min-height: 1560px;*/
		min-height: 100vh;
	} 
	div.span3.clear-left {
	    position: relative;
	    top: 125px;
	    background-color: #f8f9f8;
    	box-shadow: 4px 0px 15px -6px #353535;
	}
	.articleBanner {
	    position: absolute;
	    width: 100%;
	    height: 295px;
	    background-color: #f7f8f9;
	    left: 0;
	    z-index: -1;
	}
	.articleBanner.noIMG {
	    position: absolute;
	    width: 100%;
	    height: 45px;
	    background-color: #f7f8f9;
	    left: 0;
	    z-index: -1;
	}		
}

@media(min-width: 768px) and (max-width: 979px) {
	body.site .span4.module_bottom {
	    bottom: 150px;
	}
}

@media(min-width: 768px) and (max-width: 1024px) {
	
	body.site p.tel,
	body.site p.adr {
		font-size: 16px;
		white-space: nowrap;
	}
	body.site #logoHeader h2 {
		font-size: 22px;
		white-space: nowrap;
	}
	body.site .ekBHof {
		left: 5px;
	}
	body.site .ekBHof img {
		max-width: 120px;
		box-shadow: none;
	}
	#logoHeader h2 {
	    transform: translateY(40px);
	}
	body.site .navbar .btn-navbar {
    	margin-right: 20px;
	}
	body.site .bottom2 {
	    top: 110px;
	}
}

@media(min-width: 768px) and (max-width: 1279px) {

	.extLogoHolder {
		position: absolute;
		top: calc(150px + 32 * ((100vw - 1280px) / 1280));
		z-index: 21;
		right: calc(50px + 64 * ((100vw - 1280px ) / 1280));
		box-shadow: 1px 1px 10px 4px #2d2d2d;
		max-width: 150px;
	}

}

@media(min-width: 768px) and (max-width: 1280px) {

	body.mobile .item.column-1 ul {
	    margin-bottom: 50px;
	}
	body.site .mm-listview>li>a,
	body.site .mm-listview>li>span {
	    font-size: 16px;
	    line-height: 35px;
	}
	body.site .nullAchtNeun.blog-featured .row-0 div.item.column-1 img {
	    bottom: 0px;
	}
	body.site.itemid-472 .span3.clear-left ul li {
	    padding: 0 0 8px 5px;
	}
	body.site.itemid-472 div.item-page .flex div.item-image {
	    margin: 30px 0 160px;
	}
	body.site div.item-page .flex div.item-image {
	    margin: 30px 0 90px;
	}	
}

@media(min-width: 1024px) and (max-width: 1279px) {
	body.site.mobile div.navbar-inner ul.nav a {
	    font-size: calc(29px + 32 * (100vw - 1279px) /1024);
	}

}

@media(min-width: 1024px) and (max-width: 1480px) {


}

@media(max-width: 979px) {
	body.site .navbar .nav > li {
	    display: block;
	    padding: 10px 0px 0px;
	}
	body.site .nav-collapse .nav {
	    margin: 10px 10px;
	}
	body.desktop .navbar {
		display: none;
	}
	body.desktop .menuWrapper.fullwidth {
	    height: 180px;
	}
}

@media(min-width: 980px) and (max-width: 1280px) {
	.navbar {
	    max-width: 50%;
	}
}

@media(max-width: 1023px) {

	body.site div.navbar-inner ul.nav a {
	    font-size: 21px;
	}
	body.site .span3.clear-left h3 {
	    font-size: calc(21px + 16 * ((100vw - 1024px ) / 1024));
	}
}

@media(max-width: 1024px) {

	div#descHeader .innerwidth h3 {
	    font-size: calc(24px + 24 *((100vw - 1024px) / 1024));
	    padding-left: 20px;
	}

	body.site .picHolder img {
	    max-width: 75%;
	}
	
	body.site .navbar .navbar-inner {
	    padding: 5px 0;
	}
	body.site div.item-page p,
	body.site div.item-page ul li {
	    font-size: 18px;
	    line-height: 26px;
	}
	body.site p.tel {
	  margin: 25px 0px;
	}
	body.site .logoDesktop {
	    margin: 5px 0px 5px 5px;
	}
	body.site .span4.module_bottom {
	    padding: 10px;
	}
	body.site .moduletable h3 {
	    font-size: 20px;
	}
}
@media(min-width: 1024px) and (max-width: 1280px) {

	body.site #logoHeader h2,
	body.site .menuWrapper p.tel,
	body.site .menuWrapper p.adr {
		font-size: calc(34px + 32 * (100vw - 1480px) / 1024);
		white-space: nowrap;
	} 
}
@media(min-width: 1025px) {

	div#produktMenu {
	    font-size: 14px;
	}
	body.layout-blog div.span3.clear-left {
	    top: 125px;
	}
	div.span3.clear-left ul {
    	padding: 10px;		
	}
	div.span3.clear-left ul li {
    	line-height: 15px;
	}	
	body.site main#content {
	    margin-bottom: 50px;
	    min-height: 700px;
	}	
	#logoHeader h2 {
	  transform: translateY(90px);
	}
	div#copyright {
	    padding-left: 5px;
	}
}

@media(min-width: 1280px) and (max-width: 1599px) {

	.figHolder img {
	    max-width: 40%;
	}
	body.site .position_bottom-last .figHolder {
	    left: 0%;
	    position: relative;
	    padding-top: 15px;
	}
	body.site .position_bottom-last {
		margin-bottom: 0px;
	}
}

@media(max-width: 1280px) {
	body.tablet .item-page div.flex .item-image img {
		width: 270px;
	}
	body.tablet.itemid-471 .item-page div.flex .item-image img {
		width: 250px;
	}	
	body#bodySite.mobile.itemid-1046 .blog h2 {
	    margin: 15px 0 20px 0;
	}
	body.mobile ol.breadcrumb {
	    font-size: 10px;
	}
	body.mobile ul.mm-listview li.active,
	body.mobile ul.mm-listview .alias-parent-active {
	    font-weight: bold;
	    background: #fff;
	}
	body.tablet div#descHeader .innerwidth h3 {
	    padding-left: 50px;
	}
	body.mobile .span3.clear-left ul li {
	    padding: 0 0 15px 5px;
	}
	body.itemid-471.tablet .page-header h1 {
			font-size: 25px;
	}
	body.itemid-471.tablet .span3.clear-left h3 {
	    font-size: 15px;
	}
	body.mobile .clear-container {
	    padding: 0 20px 20px 20px;
	}
	body.mobile.tablet .clear-container {
	    padding: 0 20px 20px 10px;
	}
	body.desktop button.btn.btn-navbar.collapsed {
	    top: 10px;
	    position: relative;
	    right: 20px;
	    padding: 10px;
	    background: #efefef;
	}
	.noImgSpacer {
		display: none;
		height: 0px;
	}
	body.site .dropdown .caret {
	    display: none;
	}
	body.site.desktop h3.logoHeader {
    	padding-left: calc(250px + 256 * ((100vw - 1920px) /1920));
	}
	body.site.desktop div.menuWrapper.sticky {
		position: initial;
	}
	body.site .nav-collapse {
	    height: 0 !important;
	    overflow: hidden !important;
	}
	body#bodySite .nav-collapse.collapse.in {
	    height: auto!important;
	    overflow: visible!important;
	}
	body.site .navbar .btn-navbar {
	    display: block;
	}
	body.site .rewoAdresse p {
		line-height: 20px;
	}
	.rewoAdresse {
	    text-align: right;
	    margin-right: 20px;
	    color: #234da0;
	    text-transform: uppercase;
	    font-size: 16px;
	    bottom: 10px;
    	position: relative;
	}
	body.site .figHolder.mobile {
		position: absolute;
		width: initial;
		height: 120px;
		left: 0px;
	}
	.figHolder.mobile img {
		height: 120px;
	}
	body.site .morphsearch.open {
	    width: 100%;
	    min-height: 1110px;
	    top: -60px;
	}
	body.site .morphsearch {
		top: initial;
	    bottom: initial;
	}
	body.site.desktop .morphsearch {
		position: relative;
	}
	html.mm-opened  body.site div#suche {
		opacity: 0;
	}
	body.site div#suche .icon-search {
	    background-image: url("/images/search_white.png");
	    background-position: 5px 0px;
	    background-size: 70%;
	}
	body.site.open div#suche .icon-search {
		background-image: url("/images/search.png");
	}
	body.site div#suche .morphsearch.open button {
	    margin-top: 20px;
	}
	body.site .finder_menu {
		padding-top: 10px;
	}
	body.site div#suche {
	    margin-left: calc(100px + 128 *((100vw - 1280px) / 1280 ));
	    position: initial;
	    opacity: 1;
	    transition: opacity .6s ease-in-out; 
	}
	body.site div#suche .morphsearch-input {
	    background: #fff;
	}
	body.not_home div#descHeader {
	    background-color: #f7f5f5;
	    color: #234da0;
	}
	body.site .breadcrumb {
		background-color: transparent;
	}
	.lgHeaderWrapper h3 {
		color: #fff;
		font-size: 16px;
		margin: 0px;
		line-height: 20px;
		margin-left: calc(250px + 16 * ((100vw -1280px) /1280));
		font-weight: normal;
	}
	.lgHeaderWrapper {
	    background: #234da0;
	    position: absolute;
	    width: 100%;
	    z-index: -1;
	    top: 45px;
	}
	body.site .logo-small {
	    position: initial;
	    left: initial;
	    top: initial;
	    border-radius: 50%;
	    border: 5px solid #fff;
	    width: 120px;
	    float: left;
    	margin: 10px 0px 0px 110px;
	    transition: all .3s ease-in-out;
	}
	body.site.desktop .logo-small {
		margin-left: 0px;
	}
	body.site .clear-slider {
	    margin-top: 0px;
	}
	div#mobileHeader.menuWrapper .vcard h3,
	div#mobileHeader.menuWrapper .vcard p {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
	}
	div#mobileHeader.menuWrapper .vcard p {
		margin: 5px 5px;		
	}
	div#mobileHeader.menuWrapper .vcard {
	    position: initial;
	    right: initial;
	    top: initial;
	    max-width: 150px;
	    padding: 5px 10px;
	    float: right;
	    margin-right: 20px;
	}
	.mobileMenuWrapper {
	    position: relative;
	    height: 40px;
    	background: #234da0;
    	margin: 0px 0px 0px ;
	}
	p.btnDesc {
	    color: #fff;
	    right: 50px;
	    position: absolute;
	}
	.button_container span {
	    background: #fff;
	    border: none;
	    height: 4px;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    -webkit-transition: all .35s ease;
	    transition: all .35s ease;
	    cursor: pointer;
	}
	html.mm-opened .button_container .top {
	    	-webkit-transform: translateY(10px) translateX(0) rotate(45deg);
	    	-ms-transform: translateY(10px) translateX(0) rotate(45deg);
	    transform: translateY(10px) translateX(0) rotate(45deg);
	}
	html.mm-opened .button_container .middle {
	    opacity: 0;
	}
	html.mm-opened .button_container .bottom {
	    	-webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
	    	-ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
	    transform: translateY(-10px) translateX(0) rotate(-45deg);
	}
	.button_container span:nth-of-type(2) {
	    top: 10px;
	}
	.button_container span:nth-of-type(3) {
	    top: 20px;
	}	
	body.site .mm-btn {
	    top: 10px;
	    right: 20px;
	    transition: right .6s cubic-bezier(0.98, 0.26, 0.24, 0.88);
	}
/*	html.mm-opened	body.site .mm-btn {
		right: 88%;
		opacity: 0;
		transition: right .3s linear;
	    animation: fadeIn .8s ease-in-out .5s forwards;
	}
		@keyframes fadeIn {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}
		@-webkit-keyframes fadeIn {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}	
*/
	div.menuWrapper {
		position: initial;
		min-height: 100px;
	}
	body.site div.span3.clear-left {
	    background-color: #f8f9f8;
	}
	.hoverLayer {
		display: none;
	}	
}
@media(min-width: 1200px) {

	.nullAchtNeun.blog-featured div.item {
      min-height: 295px;
  }
	.flex .page-header.span6 {
	    position: relative;
	    left: -290px;
	}
	.flex .page-header.noSidebar {
	    left: 0px;
	}
}

@media(min-width: 1280px) {
	body.site figcaption.hoverLayer a {
	    padding: 90px 0 30px;
	}
	body.site .figHolder {
	    position: absolute;
	    top: 0;
	    left: -31%;
	    z-index: 1;
	}
	body.site .bottom-last .position_bottom-last {
		margin-bottom: 30px;
	}
	.position_bottom-last .custom {
		position: relative;
	}
	.moduletable.newsletterModul .span4{
			overflow: hidden;
			position: relative;
	}
	.moduletable.newsletterModul img {
		opacity: 1;
	    transform: scale(1,1);
	    transition: all .4s ease-in-out;
	}
	.moduletable.newsletterModul .span4:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 90%;
	    height: 100%;
	    background-color: rgba(66,66,66, .3);
	    opacity: 0;
	    z-index: 2;
	    transition: all .4s ease-in-out;
	}
	.moduletable.newsletterModul .span4:hover:after {
		opacity: 1;
	}
	.moduletable.newsletterModul .span4:hover img {
		opacity: .8;
	    transform: scale(1.1,1.1);
	}
}

@media(min-width: 1280px) and (max-width: 1580px) {

	body.site div.navbar-inner ul.nav a {
	    font-size: 14px;
	    padding: 50px 14px 10px;
	}
	body.site div.navbar-inner ul.nav a {
	    font-size: 14px;
	    padding: 50px 9px 10px;
	}
}

@media(min-width: 1716px) and (max-width: 1800px) {
	
	body.site div.navbar-inner ul.nav a {
		    font-size: 18px;
		}
}

@media(min-width: 1281px) {
	body.desktop ul.nav-child.dropdown-menu li {
	    border: 1px dashed #dedede;
	    border-width: 0px 1px 1px 0px;
	}
	body.desktop ul.nav-child.dropdown-menu li:nth-child(even) {
	    border-right: none;
	}
	ul.nav.menu.top>li {
	    width: calc(100% / 11);
	}
	body.site div.navbar-inner ul.nav.top a {
	    padding: 50px 0px 10px;
	    text-align: center;
	}
	body#bodySite ul.nav-child a {
	    padding: 20px 0px 10px;
	}	
	body.site .navbar .nav {
	    margin: 0 0px 0 0;
	    width: 100%;
	}
	body.site .noImgSpacer {
		width: 100%;
		height: 250px;
	}
	body.site .nav-collapse.collapse {
	    height: auto!important;
	    overflow: visible!important;
	}
	body#bodySite .nav .active .dropdown-toggle .caret  {
	    border-top-color: #fff;
	    border-bottom-color: #fff;
	}
}
@media(min-width: 1281px) and (max-width: 1579px) {
	body.site .navbar {
		width: calc(980px + 1280 * ((100vw - 1579px) / 1280 ));
	}	
}
@media(min-width: 1580px) {

	.navbar {
		width: 980px;
	}
}

@media(min-width: 1800px) {

	body.site #logoHeader h2 {
	  font-size: 48px;
	}
}
@media(min-width: 1980px) {
	body.site .morphsearch {
	    position: relative;
	}
	body.site .extLogoHolder {
	    top: 480px;
	}
	body#bodySite .clear-slider {
	    width: 100%;
	}
}