/**

 * @author ( Angie Radtke )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */



#all { width: expression(document . body . clientWidth > 960 ? "960" : "auto");  }
#footer-inner { width: expression(document . body . clientWidth > 963 ? "963" : "auto");  }
#footer { width: expression(document . body . clientWidth > 963 ? "963" : "auto");  }

.logoheader
{
border-top:solid 0px #555;
color:#555;
background: #fff;
background-image: url("/images/rewo-headhg.png");
height:139px;
width:960px;

}

#horiz-menutop a {

    margin-left: 0;
    margin-right: 5px;
    padding-left: 0px;

}

#footer
{
margin-top:8px;

}

#footer p {

    padding-top: 0px;
}

#horiz-menuimp {
    float: right;
    height: 29px;
    margin-bottom: 0;
    margin-right: 24px;
    margin-top: 0;
}

#fpssContainer88.fpss-template-uncut {

display:none;

}

.breadcrumbs {

    padding-top: 10px;
}

.breadcrumbs img {
   margin-top: -6px;
}

#main h1 {
padding-top:10px;
}



#header-image
{overflow:hidden; zoom:1;
width:100%}
#all
{
border:solid 0px #fff
}

#header ul
{width:97%}

#header ul.skiplinks li a
{

background:#cc0000;
border:0px solid #000

}



#contentarea,
#contentarea2
{
       display:inline-block;
        position:relative;
       zoom:1;
       margin-top:-65px;




}

.cols-3 .item {
width: 160px;

}

#wrapper2 {
    float: left;
    padding-left: 0px;
    position: relative;
    width: 620px;
}

.contact {
    padding-top: 30px;
}

#main
{
            height:320px;
}

#back
{
        margin: 0;
        padding:0 0px !important;

}

#right
{
        float:left;
        width: 20.5%;
        text-align:left !important
}

.left
{
            margin:10px 0px 10px 18px;

}

/* haslayout erzwingen */

.blog
{
            width:100%
}

.article_row
{
        width:auto;
}

.row1 .cols2
{
        width:auto;
}

.moduletable,
.moduletable_js
{
            zoom:1
}

#nav ul li,
#right ul li
{
            height:1%
}

p.articleinfo
{
            display:inline-block
}

h1
{

}

ul.tabs
{
        text-align:left;

}

ul.newsflash-horiz,
#footer-outer,
ul.tabs
{
        zoom:1
}

.tabcontent
{
        overflow:hidden !important;
        position:relative
}

#main h1
{ zoom:1}

#footer-outer li
{height:1%}
#bottom
{
 display:inline-block;

}
.box
{width:26%}

.panel,
div.current
{zoom:1}

.contact-image
{
        display:inline-bock
}

.item-page
{ width:100%}

#mailto-window  .mailto-close a
{

        width:25px;
        height:25px;

}


#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{
        margin-bottom:15px
}

.login-fields input
{
        width:14em
}

dd.error
{zoom:1}


#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{
        margin-bottom:15px
}

.login-fields input
{
        width:14em
}

dd.error
{zoom:1}

#close a
{
        cursor:pointer
}

#close a span
{
        line-height:normal
}
