/**
 * @version                1.0 November 15, 2011
 * @author                RocketTheme, LLC http://www.rockettheme.com
 * @copyright         Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license                http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Menustyle 4 */

/* @group Horizontal Menu impressum */

#horiz-menuimp {
         float: right;
    height: 29px;
    margin-bottom: 0;
    margin-right: 44px;
    margin-top: 0px;

}

#horiz-menuimp2 {
        height: 30px;
        padding: 0 5px 0 5px;
}

#horiz-menuimp ul {
        list-style: none;
        margin: 15px 0 0 150px;
        padding: 0;

}

#horiz-menuimp li {
        display: block;
        float: left;
        margin: 0;
        padding: 0 5px;
}

#horiz-menuimp a {
        white-space: nowrap;
        display: block;
        float: left;
        height: 25px;
        line-height: 28px;
        padding: 0 0px 0 0;
        font-weight: normal;
        font-size: 10px;
        color: #777;
        background: none;
}

#horiz-menuimp a:hover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
        text-decoration: none;
}

#horiz-menuimp li li a,
#horiz-menuimp li li a:hover,
#horiz-menuimp li:hover li a,
#horiz-menuimp li.sfHover li a,
#horiz-menuimp li.parent:hover li a,
#horiz-menuimp li.parent.sfHover li a,
#horiz-menuimp li.active.parent:hover li a,
#horiz-menuimp li.active.parent.sfHover li a {
        border: 0;
        background: none;
        color: #777;
}

#horiz-menuimp li li.parent:hover,
#horiz-menuimp li li.parent.sfHover,
#horiz-menuimp li li.active.parent:hover,
#horiz-menuimp li li.active.parent.sfHover {
        background: none;
}

#horiz-menuimp li:hover a,
#horiz-menuimp li.sfHover a,
#horiz-menuimp li:hover a.topdaddy,
#horiz-menuimp li.sfHover a.topdaddy,
#horiz-menuimp a.topdaddy:hover {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 no-repeat;
}

#horiz-menuimp li li:hover,
#horiz-menuimp li li.sfHover,
#horiz-menuimp li li:hover a:hover,
#horiz-menuimp li li.sfHover a:hover,
#horiz-menuimp li.active li:hover a:hover {
        background: none;
        color: #333;
}

#horiz-menuimp li:hover li a,
#horiz-menuimp li.sfHover li a,
#horiz-menuimp li.active:hover a,
#horiz-menuimp li.active.sfHover a {
        background: none;
}

#horiz-menuimp li.active,
#horiz-menuimp.splitmenu li.active:hover,
#horiz-menuimp.splitmenu li.active.sfHover,
#horiz-menuimp li.active.parent:hover,
#horiz-menuimp li.active.parent.sfHover,
#horiz-menuimp li.active:hover,
#horiz-menuimp li.active.sfHover {
        background: none;
}

#horiz-menuimp li.active a,
#horiz-menuimp.splitmenu li.active:hover a,
#horiz-menuimp.splitmenu li.active.sfHover a,
#horiz-menuimp li.active.parent:hover a,
#horiz-menuimp li.active.parent.sfHover a,
#horiz-menuimp li.active:hover a,
#horiz-menuimp li.active.sfHover a {
        background: none;
        color: #00417e;
}

#horiz-menuimp li:hover,
#horiz-menuimp li.sfHover,
#horiz-menuimp li.parent:hover,
#horiz-menuimp li.parent.sfHover {
        background: none;
}

#horiz-menuimp li:hover a,
#horiz-menuimp li.sfHover a,
#horiz-menuimp li.parent a:hover,
#horiz-menuimp li.parent.sfHover a {
        background: none;
        color: #333;
}

#horiz-menuimp li li.parent a.daddy,
#horiz-menuimp li.active li.parent a.daddy {
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 95% 50% no-repeat;
}

#horiz-menuimp li li.parent:hover a.daddy,
#horiz-menuimp li.active li.parent:hover a.daddy {
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 95% 50% no-repeat;
}

#horiz-menuimp li li,
#horiz-menuimp li:hover li,
#horiz-menuimp li.sfHover li,
#horiz-menuimp li.parent:hover li,
#horiz-menuimp li.parent.sfHover li,
#horiz-menuimp li.active.parent:hover li,
#horiz-menuimp li.active.parent.sfHover li {
        background: url(../images/light/menus/menustyle4/menu4-sidediv.png) 0 100% repeat-x;
}

#horiz-menuimp ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}

#horiz-menuimp ul ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}


/* @group Horizontal Menu rewotop */



#horiz-menutop {
    float: left;
    height: 51px;
    margin-left: 32px;
    margin-top: 20px;
    width: 915px;
}

#horiz-menutop2 {
        height: 30px;
        padding: 0 5px;
}

#horiz-menutop ul {
        list-style: none;
        margin: 0;
        padding: 0;
         font-size: 11px;
}

#horiz-menutop li {
        display: block;
        float: left;
        margin-top: 0px;
        padding: 0;
}

#horiz-menutop a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #6E8AC0;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    line-height: 12px;
    margin-left: 0;
    margin-right: 11px;
    padding-left: 6px;
    padding-top: 7px;
    white-space: nowrap;
}

#horiz-menutop a:hover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
        text-decoration: none;
}

#horiz-menutop li li a,
#horiz-menutop li li a:hover,
#horiz-menutop li:hover li a,
#horiz-menutop li.sfHover li a,
#horiz-menutop li.parent:hover li a,
#horiz-menutop li.parent.sfHover li a,
#horiz-menutop li.active.parent:hover li a,
#horiz-menutop li.active.parent.sfHover li a {
        border: 0;
        background: none;
        color: #777;
}

#horiz-menutop li li.parent:hover,
#horiz-menutop li li.parent.sfHover,
#horiz-menutop li li.active.parent:hover,
#horiz-menutop li li.active.parent.sfHover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
}

#horiz-menutop li:hover a,
#horiz-menutop li.sfHover a,
#horiz-menutop li:hover a.topdaddy,
#horiz-menutop li.sfHover a.topdaddy,
#horiz-menutop a.topdaddy:hover {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 no-repeat;
}

#horiz-menutop li li:hover,
#horiz-menutop li li.sfHover,
#horiz-menutop li li:hover a:hover,
#horiz-menutop li li.sfHover a:hover,
#horiz-menutop li.active li:hover a:hover {
        background: none;
        color: #333;
}

#horiz-menutop li:hover li a,
#horiz-menutop li.sfHover li a,
#horiz-menutop li.active:hover a,
#horiz-menutop li.active.sfHover a {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 repeat-x;
}

#horiz-menutop li.active,
#horiz-menutop.splitmenu li.active:hover,
#horiz-menutop.splitmenu li.active.sfHover,
#horiz-menutop li.active.parent:hover,
#horiz-menutop li.active.parent.sfHover,
#horiz-menutop li.active:hover,
#horiz-menutop li.active.sfHover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
}

#horiz-menutop li.active a,
#horiz-menutop.splitmenu li.active:hover a,
#horiz-menutop.splitmenu li.active.sfHover a,
#horiz-menutop li.active.parent:hover a,
#horiz-menutop li.active.parent.sfHover a,
#horiz-menutop li.active:hover a,
#horiz-menutop li.active.sfHover a {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 no-repeat;
        color: #00417E;

}

#horiz-menutop li:hover,
#horiz-menutop li.sfHover,
#horiz-menutop li.parent:hover,
#horiz-menutop li.parent.sfHover {
        background: none;
}

#horiz-menutop li:hover a,
#horiz-menutop li.sfHover a,
#horiz-menutop li.parent a:hover,
#horiz-menutop li.parent.sfHover a {
        background: none;
        color: #00417e;
}

#horiz-menutop li li.parent a.daddy,
#horiz-menutop li.active li.parent a.daddy {
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 95% 50% no-repeat;
}

#horiz-menutop li li.parent:hover a.daddy,
#horiz-menutop li.active li.parent:hover a.daddy {
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 95% 50% no-repeat;
}

#horiz-menutop li li,
#horiz-menutop li:hover li,
#horiz-menutop li.sfHover li,
#horiz-menutop li.parent:hover li,
#horiz-menutop li.parent.sfHover li,
#horiz-menutop li.active.parent:hover li,
#horiz-menutop li.active.parent.sfHover li {
        background: url(../images/light/menus/menustyle4/menu4-sidediv.png) 0 100% repeat-x;
}

#horiz-menutop ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}

#horiz-menutop ul ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}

/* mouseovers */

#horiz-menutop li li a:hover {
        background: none;
}

#horiz-menutop li li.active,
#horiz-menutop li.active li a,
#horiz-menutop li.active li a:hover {
        background: none;
}

#horiz-menutop li li a {
        font-size: 100%;
        font-weight: normal;
        color: #fff;
}

.menutop li.sfHover ul {
        left: -1px;
        top: 24px;
}

div#horiz-menutop li li a {
        height:28px;
        line-height:28px;
}

/* @end */


/* @group Horizontal Menu */

#horiz-menu {
    float: right;
    height: 20px;
    margin-right: 0px;
    margin-top: 0px;
}
#horiz-menu2 {
        height: 30px;
        padding: 0 0px;
}

#horiz-menu2 a {

        color: #6e8ac0;

}

#horiz-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
         font-size: 11px;
}

#horiz-menu li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
}

#horiz-menu a {
        white-space: nowrap;
        display: block;
        float: left;
        height: 25px;
        line-height: 25px;
        padding-bottom: 0;
    padding-left: 4px;
    padding-right: 5px;
    padding-top: 0;
        font-weight: normal;
        font-size: 12px;
        color: #6e8ac0;
        background: none;
        text-indent: 0;
}

#horiz-menu a:hover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
        text-decoration: none;

}

#horiz-menu li li a, 
#horiz-menu li li a:hover,
#horiz-menu li:hover li a,
#horiz-menu li.sfHover li a,
#horiz-menu li.parent:hover li a,
#horiz-menu li.parent.sfHover li a,
#horiz-menu li.active.parent:hover li a,
#horiz-menu li.active.parent.sfHover li a {
        border: 0;
        background: none;
        color: #777;
}

#horiz-menu li li.parent:hover,
#horiz-menu li li.parent.sfHover,
#horiz-menu li li.active.parent:hover,
#horiz-menu li li.active.parent.sfHover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a,
#horiz-menu li:hover a.topdaddy,
#horiz-menu li.sfHover a.topdaddy,
#horiz-menu a.topdaddy:hover {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 no-repeat;

}

#horiz-menu li li:hover,
#horiz-menu li li.sfHover,
#horiz-menu li li:hover a:hover,
#horiz-menu li li.sfHover a:hover,
#horiz-menu li.active li:hover a:hover {
        background: none;
        color: #333;
}

#horiz-menu li:hover li a,
#horiz-menu li.sfHover li a,
#horiz-menu li.active:hover a,
#horiz-menu li.active.sfHover a {
        background: none;
}

#horiz-menu li.active,
#horiz-menu.splitmenu li.active:hover,
#horiz-menu.splitmenu li.active.sfHover,
#horiz-menu li.active.parent:hover,
#horiz-menu li.active.parent.sfHover,
#horiz-menu li.active:hover,
#horiz-menu li.active.sfHover {
        background: none;
}

#horiz-menu li.active a, #horiz-menu.splitmenu li.active:hover a, #horiz-menu.splitmenu li.active.sfHover a, #horiz-menu li.active.parent:hover a, #horiz-menu li.active.parent.sfHover a, #horiz-menu li.active:hover a, #horiz-menu li.active.sfHover a {
    color: #00417E;
    font-weight: normal;
}

#horiz-menu li:hover,
#horiz-menu li.sfHover,
#horiz-menu li.parent:hover,
#horiz-menu li.parent.sfHover {
        background: none;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a,
#horiz-menu li.parent a:hover,
#horiz-menu li.parent.sfHover a {
        background: none;
        color: #00417e;
}

#horiz-menu li li.parent a.daddy,
#horiz-menu li.active li.parent a.daddy {
        background: none;
}

#horiz-menu li li.parent:hover a.daddy,
#horiz-menu li.active li.parent:hover a.daddy {
        background: none;
}

#horiz-menu li li, 
#horiz-menu li:hover li,
#horiz-menu li.sfHover li,
#horiz-menu li.parent:hover li,
#horiz-menu li.parent.sfHover li,
#horiz-menu li.active.parent:hover li,
#horiz-menu li.active.parent.sfHover li {
        background: none;
}

#horiz-menu ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}

#horiz-menu ul ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}

/* mouseovers */

#horiz-menu li li a:hover {
        background: none;
}

#horiz-menu li li.active,
#horiz-menu li.active li a,
#horiz-menu li.active li a:hover {
        background: none;
}

#horiz-menu li li a {
        font-size: 100%;
        font-weight: normal;
        color: #fff;
}

.menutop li.sfHover ul {
        left: -1px;
        top: 24px;
}

div#horiz-menu li li a {
        height:28px;
        line-height:28px;
}

/* @end */

/* @group Sub Menu */

ul.menu {
        margin: 0;
        padding: 0 6px;
        background: none;
}

ul.menu li {
        list-style: none;
        margin: 0;
        padding: 0;
}

ul.menu a:hover {
        text-decoration: none;
        color: #00417e;
        background: url(../images/light/menus/menustyle4/menu4-sideactive-bg.png) 0px 0 no-repeat;
}

ul.menu li.active.parent a {

    color: #00417E;
}


ul.menu li.active.parent li a {
    background:url(../images/light/menus/menustyle4/menu4-dot.png) 18px 9px no-repeat;;
}

ul.menu span {
        display: block;
}

ul.menu a {
        display: block;
        line-height: 24px;
        text-indent: 15px;
        height: 24px;
        color: #777;
}

ul.menu ul {
        margin: 4px 0;
}

ul.menu ul li a {
        text-indent: 20px;
}

ul.menu ul a {
        background: none;
        text-indent: 0;
}

ul.menu ul {
        margin-left: 10px;
        padding: 0;
}

ul.menu ul ul {
        padding: 0;
        margin-left: 20px;
}

ul.menu li li {
        padding: 0;
        margin: 0;
}

ul.menu ul a {
        text-indent: 0;
}

ul.menu li.active li a {
        color: #777;
        border: 0;
}

ul.menu li.active a {
        background: url(../images/light/menus/menustyle4/menu4-sideactive-bg.png) 0 0 no-repeat;
        border: 0;
        color: #00417E;
}

ul.menu li li.active a,
ul.menu li li a:hover,
ul.menu li.active li a:hover {
        color: #00417e;
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 18px 9px no-repeat;
        font-weight: bold;
}

ul.menu li a {
        color: #6E8AC0;
        padding-left: 10px;
        background: none;
}

/* @end */

/* @group Mainmenu */

a.mainlevel {
        display: block;
        line-height: 24px;
        height: 26px;
        font-size: 100%;
        padding-left: 25px;
        text-decoration: none;
        color: #777;
        background: none;
}

a#active_menu {
        color: #333;
        background: url(../images/light/menus/menustyle4/menu4-sideactive-bg.png) 0 0 no-repeat;
        border: 0;
}

a#active_menu.sublevel {
        color: #333;
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 0 5px no-repeat;
}

a.sublevel {
        text-decoration: none;
        line-height: 27px;
        padding-left: 14px;
        color: #777;
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 0 5px no-repeat;
}

a.mainlevel:hover {
        text-decoration: none;
        background: url(../images/light/menus/menustyle4/menu4-sideactive-bg.png) 0 0 no-repeat;
}

a.sublevel:hover {
        text-decoration: none;
        color: #333;
}

/* @end */

div.module-menu h3 {
        padding: 0 0 0 8px;
}

div.module-menu div div div {
        padding-bottom: 20px;
        padding-top: 10px;
        margin-bottom: 35px;
}

div.module-menu div div div div {
        padding: 0;
        margin: 0;
}

