/**
 * @version                1.0 November 15, 2011
 * @author                RocketTheme, LLC http://www.rockettheme.com
 * @copyright         Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license                http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Light Style */

body {
        background: #ffffff;
        color: #6E8AC0;
}

/**************** Start Font colors ***************/

/* link and content headings color */
a, .contentheading {
        color: #2C68A6;
}

/* menu module base color */
.module-menu h3 {
        color: #999;
}

/* menu module accent color */
.module-menu h3 span {
        color: #000;
}

/* module link color */
.module h3 a,.module-color1 h3 a,.module-color2 h3 a,.module-color3 h3 a,.module-color4 h3 a,.module-style1 h3 a,.module-style1-color1 h3 a,.module-style1-color2 h3 a,.module-style1-color3 h3 a,.module-style1-color4 h3 a,.module-style2 h3 a,.module-style2-color1 h3 a,.module-style2-color2 h3 a,.module-style2-color3 h3 a,.module-style2-color4 h3 a {
        color: #990000;
}

/* module base color */
.module h3,.module-color1 h3,.module-color2 h3,.module-color3 h3,.module-color4 h3,.module-style1 h3,.module-style1-color1 h3,.module-style1-color2 h3,.module-style1-color3 h3,.module-style1-color4 h3,.module-style2 h3,.module-style2-color1 h3,.module-style2-color2 h3,.module-style2-color3 h3,.module-style2-color4 h3 {
          color: #2D59A1;
    font-size: 14px;
}

/* module accent color */
.module h3 span,.module-style1 h3 span,.module-style2 h3 span {
            color: #6E8AC0;
    font-size: 13px;
    font-weight: bold;
}

/* module accent color1 */
.module-color1 h3 span,.module-style1-color1 h3 span,.module-style2-color1 h3 span {
        color: #2C68A6;
}

/* module accent color2 */
.module-color2 h3 span,.module-style1-color2 h3 span,.module-style2-color2 h3 span {
        color: #990000;
}

/* module accent color3 */
.module-color3 h3 span,.module-style1-color3 h3 span,.module-style2-color3 h3 span {
        color: #79B216;
}

/* module accent color4 */
.module-color4 h3 span,.module-style1-color4 h3 span,.module-style2-color4 h3 span {
        color: #8444A7;
}


/******************** end font styles *******************/

/* start slider toolbar */

#rokslide-toolbar {
        background: url(../images/light/tabber-bg.png) 0 0 repeat-x;
}

#rokslide-toolbar li.last {
        background: transparent;
}

#rokslide-toolbar li.current,
#rokslide-toolbar li.last.current {
        background: url(../images/light/tabber-active-r.png) 100% 0 no-repeat;
}

#rokslide-toolbar li.current span {
        background: url(../images/light/tabber-active-l.png) 0 0 no-repeat;
}

#rokslide-toolbar li {
        background: url(../images/light/tabber-div.png) 100% 0 no-repeat;
}

#rokslide-toolbar {
        color: #666;
}

#rokslide-toolbar li.active { 
        color: #222;
}

#rokslide-toolbar li.current { 
        color: #333;
}

/* end slider toolbar */

tr.sectiontableentry1 td,
tr.sectiontableentry2 td,
td.sectiontableentry1,
td.sectiontableentry2 {
          border-bottom: 1px solid #e7e7e7;
}

tr.sectiontableentry1 td,
td.sectiontableentry1 {
        background: #f9f9f9;
}

td.sectiontableheader {
        background: #f9f9f9;
        border-bottom: 1px solid #e7e7e7;
}

#mod-search {
        background: url(../images/light/search-bg.png) 0 0 no-repeat;
}

#mod-search input {
        color: #6E8AC0;
}

.inputbox {
color: #6E8AC0;

}

#search {
color: #6E8AC0;
}

img#logo {

}

img#footlogo {
        background: url(../images/light/rewo-foothg.png) 0 0 no-repeat;
         border-bottom: 1px solid #D7D7D7;
}

#mainbody-top {
        background: none;
}

#mainbody-top2 {
        border-left: 0px solid #D7D7D7;

}

#mainbody-top3 {

        border-right: 0px solid #D7D7D7;
}

#mainbody {
        background: #fff;
        border-left: 1px solid #D7D7D7;
        border-right: 1px solid #D7D7D7;
}

#bottom {
        background: #fff;
        border-left: 1px solid #D7D7D7;
        border-right: 1px solid #D7D7D7;
        border-top: 1px solid #D7D7D7;
}

#footlogo {
    background: url("../images/light/rewo-footerhg1.png") no-repeat scroll 0 0 transparent;
    border-left: 0 solid #D7D7D7;
    border-right: 0 solid #D7D7D7;
    height: 30px;
    margin-left: -2px;
    width: 963px;
}

#mainbody-bottom {
        background: url("../images/light/rewo-footerhg3.png") repeat-x scroll 0 100% transparent;
    height: 41px;
}

#mainbody-bottom2 {

}

#mainbody-bottom3 {

}

img#rocket {
        background: url(../images/light/rocket.png) 0 0 no-repeat;
}

#pathway {
        background: none;
        border-top: 0px solid #D7D7D7;
        border-bottom: 0px solid #D7D7D7;
        font-size:10px;
}

span.pathway {
        background: none;
}

span.pathway img {
        background: none;
}

.module-style1,
.module-style1-color1,
.module-style1-color2,
.module-style1-color3,
.module-style1-color4 {
        background: url(../images/light/modules/style1/module-br.png) 100% 100% no-repeat;
}

.module-style1 div,
.module-style1-color1 div,
.module-style1-color2 div,
.module-style1-color3 div,
.module-style1-color4 div {
        background: url(../images/light/modules/style1/module-tr.png) 100% 0 no-repeat;
}

.module-style1 div div,
.module-style1-color1 div div,
.module-style1-color2 div div,
.module-style1-color3 div div,
.module-style1-color4 div div {
        background: url(../images/light/modules/style1/module-bl.png) 0 100% no-repeat;
}

.module-style1 div div div,
.module-style1-color1 div div div,
.module-style1-color2 div div div,
.module-style1-color3 div div div,
.module-style1-color4 div div div {
        background: url(../images/light/modules/style1/module-tl.png) 0 0 no-repeat;
}

.module-style2,
.module-style2-color1,
.module-style2-color2,
.module-style2-color3,
.module-style2-color4 {
        background: url(../images/light/modules/style2/module-br.png) 100% 100% no-repeat;
}

.module-style2 div,
.module-style2-color1 div,
.module-style2-color2 div,
.module-style2-color3 div,
.module-style2-color4 div {
        background: url(../images/light/modules/style2/module-tr.png) 100% 0 no-repeat;
}

.module-style2 div div,
.module-style2-color1 div div,
.module-style2-color2 div div,
.module-style2-color3 div div,
.module-style2-color4 div div {
        background: url(../images/light/modules/style2/module-bl.png) 0 100% no-repeat;
}

.module-style2 div div div,
.module-style2-color1 div div div,
.module-style2-color2 div div div,
.module-style2-color3 div div div,
.module-style2-color4 div div div {
        background: url(../images/light/modules/style2/module-tl.png) 0 0 no-repeat;
}

a.readon {
        background: url(../images/light/readon.png) 0 0 no-repeat;
}

a.readon2 {
        background: url(../images/light/readon2.png) 0 0 no-repeat;
        color: #fff;
}

a.large .button {
        background: url(../images/light/font-lg.png) 0 0 no-repeat;
}

a.small .button {
        background: url(../images/light/font-sm.png) 0 0 no-repeat;
}

a.default .button {
        background: url(../images/light/font-d.png) 0 0 no-repeat;
}

/* @group Typography */

li.number-1 {
        background: url(../images/light/typo/number-1.png) 0 3px no-repeat;        
}

li.number-2 {
        background: url(../images/light/typo/number-2.png) 0 3px no-repeat;        
}

li.number-3 {
        background: url(../images/light/typo/number-3.png) 0 3px no-repeat;        
}

li.number-4 {
        background: url(../images/light/typo/number-4.png) 0 3px no-repeat;        
}

li.number-5 {
        background: url(../images/light/typo/number-5.png) 0 3px no-repeat;        
}

li.number-6 {
        background: url(../images/light/typo/number-6.png) 0 3px no-repeat;        
}

li.number-7 {
        background: url(../images/light/typo/number-7.png) 0 3px no-repeat;        
}

li.number-8 {
        background: url(../images/light/typo/number-8.png) 0 3px no-repeat;        
}

li.number-9 {
        background: url(../images/light/typo/number-9.png) 0 3px no-repeat;        
}

ul.bullet-1 li {
        background: url(../images/light/typo/bullet-1.png) 0 2px no-repeat;
}

ul.bullet-2 li {
        background: url(../images/light/typo/bullet-2.png) 0 2px no-repeat;
}

ul.bullet-3 li {
        background: url(../images/light/typo/bullet-3.png) 0 2px no-repeat;
}

ul.bullet-4 li {
        background: url(../images/light/typo/bullet-4.png) 0 2px no-repeat;
}

ul.bullet-5 li {
        background: url(../images/light/typo/bullet-5.png) 0 2px no-repeat;
}

ul.bullet-6 li {
        background: url(../images/light/typo/bullet-6.png) 0 2px no-repeat;
}

ul.bullet-7 li {
        background: url(../images/light/typo/bullet-7.png) 0 2px no-repeat;
}

ul.bullet-8 li {
        background: url(../images/light/typo/bullet-8.png) 0 2px no-repeat;
}

ul.bullet-9 li {
        background: url(../images/light/typo/bullet-9.png) 0 2px no-repeat;
}

ul.bullet-10 li {
        background: url(../images/light/typo/bullet-10.png) 0 2px no-repeat;
}

ul.bullet-11 li {
        background: url(../images/light/typo/bullet-11.png) 0 2px no-repeat;
}

ul.bullet-12 li {
        background: url(../images/light/typo/bullet-12.png) 0 2px no-repeat;
}

ul.bullet-13 li {
        background: url(../images/light/typo/bullet-13.png) 0 2px no-repeat;
}

ul.bullet-14 li {
        background: url(../images/light/typo/bullet-14.png) 0 2px no-repeat;
}

ul.bullet-15 li {
        background: url(../images/light/typo/bullet-15.png) 0 2px no-repeat;
}

ul.bullet-16 li {
        background: url(../images/light/typo/bullet-16.png) 0 2px no-repeat;
}

ul.bullet-17 li {
        background: url(../images/light/typo/bullet-17.png) 0 2px no-repeat;
}

ul.bullet-18 li {
        background: url(../images/light/typo/bullet-18.png) 0 2px no-repeat;
}

ul.icon-1 li {
        background: url(../images/light/typo/icon-1.png) 0 2px no-repeat;
}

ul.icon-2 li {
        background: url(../images/light/typo/icon-2.png) 0 2px no-repeat;
}

ul.icon-3 li {
        background: url(../images/light/typo/icon-3.png) 0 2px no-repeat;
}

ul.icon-4 li {
        background: url(../images/light/typo/icon-4.png) 0 2px no-repeat;
}

ul.icon-5 li {
        background: url(../images/light/typo/icon-5.png) 0 2px no-repeat;
}

ul.icon-6 li {
        background: url(../images/light/typo/icon-6.png) 0 2px no-repeat;
}

pre {
        background: #f7f7f7;
        border: 1px solid #f0f0f0;
}

blockquote {
        color: #666;
        background: url(../images/light/typo/quote.png) 0 5px no-repeat;
}

blockquote p {
        background: url(../images/light/typo/quote.png) 100% 100% no-repeat;
}

span.alert {
        color: #c00;
        border-top: 3px solid #fe7b7a;
        border-bottom: 3px solid #fe7b7a;
        background: #FFD6D6 url(../images/light/typo/status-alert.png) 10px 50% no-repeat;
}

span.info {
        color: #0055BB;
        border-top: 3px solid #629de3;
        border-bottom: 3px solid #629de3;
        background: #D8E5F8 url(../images/light/typo/status-info.png) 10px 50% no-repeat;
}

span.note {
        color: #B79000;
        border-top: 3px solid #fde179;
        border-bottom: 3px solid #fde179;
        background: #FEF6D8 url(../images/light/typo/status-note.png) 10px 50% no-repeat;
}

span.download {
        color: #57861A;
        border-top: 3px solid #c2df88;
        border-bottom: 3px solid #c2df88;
        background: #EEF7DD url(../images/light/typo/status-download.png) 10px 50% no-repeat;
}

img.content-left {
        border: 1px solid #eee;
}

img.content-right {
        border: 1px solid #eee;

}

fieldset {
        border-top: 4px solid #eee;
        border-bottom: 4px solid #eee;
}

img.speakers {
        background: url(../images/light/demo-icon.jpg) 0 0 no-repeat;
        float: right;
        margin-left: 15px;
}

.demo-border {
        padding: 5px;
        border: 1px solid #eee;
}

.tool-tip {
        background: #f6f6f6;
        border: 1px solid #e6e6e6;
        padding: 4px;
}

/* @end */
