/*
 * @author ( Angie Radtke )
*/

/* not ready */

/* ##########################  general  ########################### */


@font-face {
        font-family: 'Titillium Maps';
        src: url("../fonts/TitilliumMaps29L002.eot");
        src: local('Titillium Maps'), local('TitilliumMaps'),
                url("../fonts/TitilliumMaps29L002.otf") format("opentype"),
                url("../fonts/TitilliumMaps29L002.woff") format("woff");
}

body
{
background: #ffffff;
color: #00417E;
font-family: arial, helvetica, sans-serif;
}

#all
{
color: #00417E;
border:solid 0px #ddd  !important ;
width: 960px;

}
a:link,
a:visited
{
text-decoration: none;


}


.custom_menu > p {
    margin-left: 31px;
}

#foxcontainer_c779 > h2 {
    display: none;
}


#foxcontainer_c779 > h1 {
    font-size: 14px !important;
    font-weight: bold;
}

.inputbox_menu {
    width: 172px;
}

.inputbox {
    color: #6E8AC0;
    width: 172px !important;
}

.category-desc {
    border-bottom: 1px solid;
}

.img_caption.right {
    margin-left: 30px;
}

a:hover,
a:active,
a:focus
{
background:none;
color:#6E8AC0;
}

input:focus
{
border:solid 1px #6E8AC0;
}








fieldset
{
border:solid 0px #ccc
}

.article-info
{
color:#444;
}

.article-info dd span
{
color:#444;
border-right:solid 0px;

}
/* ##########################  logo  ########################### */
#header
{background:#fff}
#logo span
{
color:#555 !important;
margin-top:6px;
font-size:0.4em !important;
letter-spacing:1px
}

.logoheader
{
border-top:solid 0px #555;
color:#555;
background: #fff;
background-image: url("/images/rewo-headhg.png");
height:139px;

}

#header-image
{
min-height:0px;
display: none;
background:transparent;
}

h1#logo {
    font-size: 3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    display:none;
}


#line
{
text-align:right;
margin-bottom:0px;
padding-right:0px
display: none;
}

#rewomenuoben {

    background-color: transparent;
    background-image: url("../images/light/navioben-bg.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 30px;
    margin-left: 0;
    margin-top: -20px;
    padding-bottom: 40px;
    width: 960px;

}

#header #line form,
#header #line #fontsize,
#header #line form .search
#header #line form .finder
{
display:inline !important;
}

/* ##########################  header  ########################### */




/* ++++++++++++++  lists, skiplinks  ++++++++++++++ */


#header ul.skiplinks
{
width:100%
}
.skiplinks,
.skiplinks li
{
        border:solid 0px #000;
}

#header ul.skiplinks
{
        width:100%;
        text-align:left;
        background:none;
        z-index:20000;
        top:0;
        display:inline;
        padding:0
}

#header ul.skiplinks li a.u2:active,
#header ul.skiplinks li a.u2:focus

{
        background:#333 !important;
        color:#fff !important;
        border:solid 1px;
        top:0px !important;
        z-index:1000000000000 !important;
        left:10px !important;
        display:block;
                width:14em;
                display:block
}

/* ++++++++++++++  fontsize  ++++++++++++++ */

#fontsize
{
        color:#444;
}

#fontsize p a:link,
#fontsize p a:visited
{
        color:#444
}

#fontsize p a:hover,
#fontsize p a:active,
#fontsize p a:focus
{
        background:#555;
        color:#fff
}

#fontsize h3
{
        color:#444;
}


/* ++++++++++++++  search  ++++++++++++++ */

#header form .inputbox
{
        background:#fff !important;
}

#header form .inputbox:focus
{
        border:solid 2px #000;
}

#header form .button
{
        border:solid 1px #999;
        background:#664335 url(../images/searchbutton.png) ;
        color:#fff;
}

/* ##########################  contentarea  ########################### */



#contentarea,
#contentarea2
{
        background:#fff ;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
}


/* ##########################  breadcrumbs  ########################### */

#nav1 {
margin-top: -39px;

}





/* ##########################  navigation column  ########################### */

.module_content
{
        border:solid 1px #ddd;
        background:#fff
}
.moduletable_js
{
        border:solid 0px #ddd;
}

#right .moduletable_js
{
        border:0
}

#nav h3
{
        font-size: 110%;
        color:#6E8AC0;
}

h3.js_heading
{
        border-bottom:solid 1px #fff !important;
        background:#eee;
        font-family:  Arial;
}

h3.js_heading span.backh
{
        border:solid 0px #000
}

h3.js_heading span.backh1
{
        color:#444
}

#right h3
{
        color:#377A2E;
        border-bottom:solid 1px #ddd;
}

#right h3 span.backh
{

}

#right h3 span.backh2
{

}

#right h3 span.backh3
{
        color:#664335
}

h3.js_heading a
{
        border:0
}

h3.js_heading a img
{
        border:0
}

h3.js_heading a.opencloselink:hover,
h3.js_heading a.opencloselink:active,
h3.js_heading a.opencloselink:focus
{
        background:none
}

h3.js_heading a:link,
h3.js_heading a:visited,
h3.js_heading a:hover,
h3.js_heading a:active,
h3.js_heading a:focus
{

}

#nav h3
{
        font-family: Arial;
    color: #6E8AC0;
    font-size: 110%;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-top: 5px;
    width: 100px;
}


#nav h3.js_heading a:focus
{

}

#nav form
{
        color:#6E8AC0;
        margin-left: 30px;
}

#nav form a:hover,
#nav form a:active,
#nav form a:focus
{
        color:#6E8AC0;
        background:transparent;
}



/* ++++++++++++++  first level  ++++++++++++++ */
#nav .moduletable-example ul.menu
{
        background:transparent;
        border:0;
}

.module_menu ul.menu {
    color: #6E8AC0;
}

/* ##########################  content - main   ########################### */


#main
{

min-height:300px

}

#main a:link,
#main a:visited
{
background:transparent;
        color:#2C68A6;

}

#main a:hover,
#main a:active,
#main a:focus
{
        background:transparent;
        color:#2C68A6;
        text-decoration: underline;
}

#main th a:hover,
#main th a:active,
#main th a:focus
{
        background:#333;
        color:#fff;
}

.items-row
{

}

.column-1,
.column-2
{
        border-bottom: solid 1px;
}

.item-separator {height: 0px;background:#6E8AC0;margin-top:20px;margin-bottom: 30px;}

#main ul li
{
line-height: 1.7em;
padding-left: 5px;
}

#main ul
{
line-height: 1.7em;
padding-left: 15px;
}

.small
{
        border:solid 0;
}

ul#archive-items li.row0,
ul#archive-items li.row1
{
        border-bottom:solid 1px #ddd
}

.archive #adminForm fieldset
{
        border:0;
        padding:0;
        margin:20px 0
}

/* ++++++++++++++  images  ++++++++++++++ */

.image-left
{
                padding:2px;
}

.image-right
{
          border:solid 1px #ddd;
                padding:2px
}


/* ++++++++++++++  leading  ++++++++++++++ */

.items-row
{

}


/* ++++++++++++++++++++ headings +++++++++++++ */

#main h1
{
    font-size: 200%;
    line-height: 14px;
    margin-left: 0px;
}

h1, h2, h3, h4 {
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 5px;
}
         
.img-fulltext-right {
    float: right;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 42px;
}

.blog h2 {

}

/* h1 on frontpage */
/*
#main .blog-featured h1
{
        border-top:solid 0px #ddd;
        border-bottom:solid 0px #ddd;
}
*/
/* Mulitple Columns   Layout */
.cols-2 {display: block; float: none; margin:0; clear: both;}
.cols-2 .item {width: 47.2%; margin: 10px; float: left;}
.cols-2 .column-1 {margin-left: 0;}
.cols-2 .column-2 {margin-right: 0;}
.cols-3 .item {
    border: 1px solid #e2e2e2;
    float: left;
    height: 158px;
    margin-bottom: 2px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 0;
    width: 185px;

}

.blog .column-1{min-height: 250px;}

,
.blog-featured .items-row {}

.cols-3 h2 {line-height:1px}

.cols-3 .column-1 {margin-left: 0;margin-top: 0px;}
.cols-3 .column-3 {margin-right: 0;margin-top: 0px;}
.items-more {clear: both; display: block;}
div.pagination {clear: both; padding-top: 5px;margin-top: 10px;margin-bottom: 15px;}

.item-separator {height: 0px;background:#6E8AC0;margin-top:0px;margin-bottom: 0px;display:none}

.blog .item-separator {height: 0px;background:#6E8AC0;margin-top:0px;margin-bottom: 0px;display:none}

.items-row cols-1 row-0 {

padding-bottom: 30px;

}

img {

padding-right: 0px;
}

.img-intro-right {
float:right;
padding-left: 20px;
}


.items-leading h2
{
        color:#7BA428;
}

.item-page h2
{
        color:#6E8AC0;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;

}

.item-page .img-fulltext-right {
    float: right;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom:10px;
}

#main h2
{
        color:#00417E;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;


}

#main h2 a
{
        color:#6E8AC0;
}


/* ++++++++++++++  readmore  ++++++++++++++ */

.readmore a:link,
.readmore a:visited,
a.readmore:link,
a.readmore:visited
{
        color:#444;

        border:solid 0px #ddd;
}

.readmore a:hover,
.readmore a:active,
.readmore a:focus,
a.readmore a:hover,
a.readmore a:active,
a.readmore a:focus
{

        color:#fff;
}

a.readmore:hover,
a.readmore:active,
a.readmore:focus
{

        color:#fff;
}

/* ++++++++++++++  icons  ++++++++++++++ */

.actions img
{
        border:0;
}

/* ++++++++++++++  items-more  ++++++++++++++ */

#main .items-more h3
{
        border-bottom:solid 1px #ddd;
        border-top:solid 1px #ddd;
        color:#444;
}

#main .items-more ol
{
        color:#000;
}

#main .items-more ol li a
{
        background:#FFF url(../images/blog_more.gif) no-repeat  !important;
        color: #7BA428 /* #377A2E */
}

#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
        background: #555 url(../images/arrow2.gif) no-repeat 0px center;
        color:#333;
}

/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
        border-top:solid 1px #ddd;
}


/* ++++++++++++++  article index  ++++++++++++++ */

table.contenttoc
{
        border:solid 1px #ccc;
}


/* ##########################  right column   ########################### */

#right
{

}

#right .moduletable
{
        border:solid 0px #eee;
        border-top:0;
                margin-bottom:10px;

}

#right h3
{
        color:#333
}

#right h4
{
        color:#444;
        border:solid 0;
}

#right ul
{
        border:solid 0 #ccc;
        color:#333;
}

.moduletable-custom ul li
{
        color:#333;
        background: url(../images/arrow2_grey.png) no-repeat  2px 7px;
}

#right .moduletable-custom h4
{
color:#444
}

#right .moduletable a img
{border:0}

/* ++++++++++++++  button for closing right column  ++++++++++++++ */
#close span
{
        color:#000;
}

/* ##########################  modules  ########################### */

/* ++++++++++++++  mostread, latest news ++++++++++++++ */

.mostread li a:link,
.mostread li a:visited,
.latestnews li a:link,
.latestnews li a:visited
{
        background: url(../images/arrow2_grey.png) 2px 7px  no-repeat ;
}

.mostread li a:hover,
.latestnews li a:hover,
.mostread li a:active,
.latestnews li a:active,
.mostread li a:focus,
.latestnews li a:focus
{
        background:#555 url(../images/arrow_white_grey.png) 2px 6px  no-repeat !important;
}

/* ++++++++++++++  newsfeed  ++++++++++++++ */

ul.newsfeed
{
        border:solid 0px #000;
}

.newsfeed-item
{
        border-bottom:solid 1px #ddd;
}

.newsfeed-item h5 a
{

}

/* ++++++++++++++  newsflash  ++++++++++++++ */
/* newsflash horizontal */

ul.newsflash-horiz
{
        border:solid 1px #eee;
        background:#f5f5f5 url(../images/box.png) repeat-x;
}

.newsflash-horiz li
{
        border:solid 0px #eee;
        background:#f5f5f5;
}

ul.newsflash-horiz li h4
{
        border-bottom:solid 1px #fff;
        font-family: 'Titillium Maps', Arial;
}

/* newsflash vertical */

.newsflash-vert
{

}

/* ++++++++++++++  banner  ++++++++++++++ */

.banneritem
{
        border:0
}

.banneritem a
{
        background:none
}

.banneritem a img
{
        background:none;
        border:0
}

/* ++++++++++++++  login  ++++++++++++++ */

#login-form .inputbox
{
        border:solid 1px #ddd;
        background:url(../images/content_bg.gif) repeat-x;
}

fieldset.input
{
        border:0;
}

input.button ,
button.button,
{
        background:#FFFFFF ;
        border:1px solid #DDDDDD;
        color:#444444;
        padding:2px;
 font-size:10px;
}

button.validate a.
{
        background:#FFFFFF ;
        border:1px solid #DDDDDD;
        color:#444444;
        padding:2px;
        font-size:10px;
}

.contact-contactinfo .contact-fax
{
padding-left: 20px;
}




/* ++++++++++++++  tabs/ slide  ++++++++++++++ */

ul.tabs
{
        border:solid 1px #ddd;
        border-bottom:0;
        background:#f5f5f5 url(../images/box.png) repeat-x;
}

ul.tabs li
{
        background:#f5f5f5 url(../images/box.png) repeat-x;
        border-right:solid 1px #ddd
}

ul.tabs li a:link,
ul.tabs li a:visited
{
        color:#333;
}

ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a:focus
{
        color:#000
}

.tabcontent
{
        border:solid 1px #ddd;
        background:#fff;
        color:#000;
}

.tabcontent .linkclosed
{
        color:#000;
        border-bottom:solid 1px #e5e5e5;
}

ul.tabs li a.linkopen
{
        background:#fff;
        color:#333;
        border:0
}

ul.tabs li a.linkclosed:hover,
ul.tabs li a.linkclosed:active,
ul.tabs li a.linkclosed:focus,
ul.tabs li a.linkopen:hover,
ul.tabs li a.linkopen:active,
ul.tabs li a.linkopen:focus
{
        background:#555;
        color:#fff
}


/* ++++++++++++++  category-module  ++++++++++++++ */

.category-module li
{
        border-bottom:solid 1px #ddd;
}

.category-module li li
{
        border:0
}

/* ########################## search ############################ */
.searchintro
{
        font-weight:normal;
        margin:20px 0 20px;
}

#searchForm,
#finder-search
{
        padding:0 5px
}

.form-limit
{
        margin:20px 0 0;
        text-align:right;
        padding:0 10px 0 20px;
        display:none;
}

.inputbox:focus
{

}

.highlight
{
        font-weight:bold;
}

.ordering-box
{
        width:40%;
        float:right;
}

.phrases-box
{
        width:60%;
        float:left
}

.only,
.phrases
{
        margin:10px 0 0 0px;
        padding:15px ;
        line-height:1.3em;
        display: none;
}

label.ordering
{
        display:block;
        margin:10px 0 10px 0
}

.word
{
        padding:10px 10px 10px 0;
}

.word input
{
        font-weight:bold;
        margin:0px 10px 0px 10px;
        padding:4px;
        font-size:1em
}

.word input:focus
{
        margin:0 0 0 9px;
}

.word label
{
    font-weight:bold
}

fieldset.only label,
fieldset.phrases label
{
    margin:0 10px 0 0px
}

.ordering-box label.ordering
{
    margin:0 10px 5px 0;
    float:left
}


form .search label,
form .finder label
{
        display:none
}

form #finder-filter-select-list label
{
        display:block;
        margin-top: 10px;
        margin-bottom: 2px;
}

/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox
{
        width:10em;
}

.phrases .inputbox option
{
        padding:2px;
}
/* ++++++++++++++  search results  ++++++++++++++++++ */

dl.search-results
{

}

dl.search-results dt.result-title
{
        padding:15px 15px 0px 5px;
        font-weight:bold;
}

dl.search-results dd
{
        padding:2px 15px 2px 5px
}

dl.search-results dd.result-text
{
        padding:10px 15px 10px 5px;
        line-height:1.7em
}

dl.search-results dd.result-url
{
        font-size:90%;
        padding:2px 15px 15px 5px;
}

dl.search-results dd.result-created
{
        padding:2px 15px 15px 5px
}

dl.search-results dd.result-category
{
         padding:10px 15px 5px 5px
}
/* ##########################  forms   ########################### */

/* ++++++++++++++  form validation  ++++++++++++++ */

.invalid
{
        border-color:red !important;
}

label.invalid
{
        color:red;
}

/* ##########################  user profile  ########################### */

#users-profile-core,
#users-profile-custom
{
        border:solid 1px #ccc;
}

#member-profile fieldset
{
        border:solid 1px #ccc;
}


/* ##########################  tables   ########################### */
table
{

}

tbody
{

}

tr.odd,
.cat-list-row1
{
        background:url(../images/news.gif)  repeat-x;
}

table.newsfeeds td,
table.weblinks td
{

}

table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th
{
        background:#444;
        color:#fff
}

table.weblinks th a,
table.newsfeeds th a,
table.category th a,
table.jlist-table th a
{
        color:#fff !important
}

td.table_footer
{
        background:#ddd url(../images/table_footer.gif) bottom left repeat-x;
}

td.counter
{

}

td.num,
td.hits
{

}

td p
{

}

table.category th a img
{
        border:solid 0px ;
}

/* for opera */
tr, td
{

}

fieldset.filters
{
        border:0;
}


/* ##########################  contacts   ########################### */

.contact form
{
        background:#fff;
        color:#6E8AC0;
}

.contact form dt {

padding-top: 5px;
padding-bottom: 5px;

}

.contact input
{
        background:#fff;
        color:#6E8AC0;
        border:solid 1px #6E8AC0;
}

.contact input.invalid,
.contact textarea.invalid
{
        border:solid 1px red;
}

.contact label.invalid
{
        color:red;
}


/* ++++++++++++++  Error Message contact form  ++++++++++++++ */

p.error
{
        color:#044b63;
        background:#eee;
        border-top:3px solid #044b63;
        border-bottom:3px solid #044b63;
}

body.contentpane
{
        background:#fff;
}


/* ##########################  footer   ########################### */

#footer
{

        background: url(../images/light/rewo-footerhg1.png) no-repeat;
        color:#fff;
        border-top:solid 0px #ccc;
        height: 69px;

}

#footer p {
    font-size: 9px;
    padding-left: 31px;
    padding-top: 7px;
}

#footer-outer {
    margin-left: -2px;
    margin-top: -8px;
    width: 962px;
}


#footer-inner
{
        background:#f5f5f5 url(../images/footer.jpg) repeat-x left bottom;
        border-top:solid 0px #ddd
}

#footer-sub a:link,
#footer-sub a:visited
{color:#777777}



.box1
{
        border-right:solid 1px #ddd
}

.box3
{
        border-left:solid 1px #ddd;
}

.box h3
{
        font-family: 'Titillium Maps', Arial;
}

#bottom a img
{
        border:0 none;
}



/* ##########################  editor  ########################### */

.contentpaneopen_edit img
{
        border:0
}

form.editor fieldset
{
        border:solid 1px #ccc;
}


/* ++++++++++++++  edit  ++++++++++++++ */

form#adminForm
{
        border:solid 0px #000
}

.edit form#adminForm fieldset
{
        border:solid 1px #ddd
}

legend
{font-weight:bold;
color: #6E8AC0;

}
/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip
{
        border:solid 1px #333;
        background:#ffffcc;
}
table.pagenav,
table.pagenav tr,
table.pagenav td
{border:0 !important}

#main .categories-list ul
{list-style-type:none}

/* contact  plain */

/* tabs */

div.current
{

        background: url(../images/nav_level_1.gif) repeat-x ;
}

#close a
{text-decoration:none}

/*Encyclopedia*/
div.encyclopedia_col1 {
        width:49%;
        float:left;

}
div.encyclopedia_col1 p.img_caption {
        font-size: .6em;
}
div.encyclopedia_col2 {
        width:49%;
        float:right;
        padding-left:3px;
        margin-left: 2px;
}
div.encyclopedia_col2 p {
        padding-left:3px;
        margin-left: 2px;
}

div.encyclopedia_links ul
{
        display:block;
        margin:0px 0px 1px 0px;
        list-style-type:none;
        padding:10px 0px 10px 0px;
        width:100%
}
div.encyclopedia_links ul li
{
        display:inline ;
        padding:2px ;
        margin:2px;
        white-space:nowrap;

}
/* ########################## sample module styling  ########################### */

div.sample-module {
    border: 2px dashed #ddd;
    padding: 10px;
    background-color: #f5f5f5;
}


.moduletable_menu {

    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FCFCFC;
    background-image: url("../images/rewomodul-lefthg.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    border: 1px solid #e2e2e2;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    width: 260px;
}


.contact
{
        padding:0 0px
}

.contact-category
{
        padding:0 10px
}

.contact-category  #adminForm fieldset.filters
{
        border:0;
        padding:0
}

.contact-image
{
        margin:10px 0;
        overflow:hidden;
}

.contact-image img
{
/* as you like
float:right;
float:left */
}


address
{
        font-style:normal;
        margin:-20px 0 20px 0;

}

address span
{
        display:block
}
.contact-address

{
margin:-10px 0 10px 0;

}


.contact-email div
{
        padding:2px 0;
        margin:0 0 10px 0;
}

.contact-email label
{
        width:17em;
        float:left;

}
span.contact-image
{
    margin-bottom:10px;
    overflow:hidden;
    display:block
}
#contact-textmsg
{padding: 2px 0 10px 0}

#contact-email-copy
{
        float:left;
        margin-right:10px;

}




dl.tabs {
    float: left;
    margin: 50px 0 0 0;
    z-index: 50;
    clear:both;


}

dl.tabs dt {
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-right: 3px;
    background: #f0f0f0;
    color: #666;
}

dl.tabs dt.open {
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;

}

div.current {
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}


div.current dd {
    padding: 0;
    margin: 0;
}

dl#content-pane.tabs {
    margin: 1px 0 0 0;
}
