/**
 * @version		1.0 November 15, 2011
 * @author		RocketTheme, LLC http://www.rockettheme.com
 * @copyright 	Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license		http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Menustyle 2 */

/* @group Horizontal Menu */

#horiz-menu {
	height: 30px;
	margin-right: 20px;
	float: right;
	margin-top: 20px;
	background: url(../images/dark/menus/menustyle2/menu2-r.png) 100% 0 no-repeat;
}

#horiz-menu2 {
	background: url(../images/dark/menus/menustyle2/menu2-l.png) 0 0 no-repeat;
	height: 30px;
	padding: 0 12px 0 12px;
}

#horiz-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#horiz-menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#horiz-menu a {
	white-space: nowrap;
	display: block;
	float: left;
	height: 30px;
	line-height: 31px;
	padding: 0 17px;
	font-weight: normal;
	font-size: 100%;
	color: #999;
	background: url(../images/dark/menus/menustyle2/menu2-div.png) 100% 0 repeat-y;
}

#horiz-menu a:hover {
	background: url(../images/dark/menus/menustyle2/menu2-activetab-bg.png) 0 0 repeat-x;
	text-decoration: none;
}

#horiz-menu li li a, 
#horiz-menu li li a:hover,
#horiz-menu li:hover li a,
#horiz-menu li.sfHover li a,
#horiz-menu li.parent:hover li a,
#horiz-menu li.parent.sfHover li a,
#horiz-menu li.active.parent:hover li a,
#horiz-menu li.active.parent.sfHover li a {
	border: 0;
	background: none;
	color: #999;
}

#horiz-menu li li.parent:hover,
#horiz-menu li li.parent.sfHover,
#horiz-menu li li.active.parent:hover,
#horiz-menu li li.active.parent.sfHover {
	background: url(../images/dark/menus/menustyle2/menu2-activetab-bg.png) 0 0 repeat-x;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a,
#horiz-menu li:hover a.topdaddy,
#horiz-menu li.sfHover a.topdaddy,
#horiz-menu a.topdaddy:hover {
	background: url(../images/dark/menus/menustyle2/menu2-activetab-bg.png) 0 0 repeat-x;
}

#horiz-menu li li:hover,
#horiz-menu li li.sfHover,
#horiz-menu li li:hover a:hover,
#horiz-menu li li.sfHover a:hover,
#horiz-menu li.active li:hover a:hover {
	background: none;
	color: #fff;
}

#horiz-menu li:hover li a,
#horiz-menu li.sfHover li a,
#horiz-menu li.active:hover a,
#horiz-menu li.active.sfHover a {
	background: url(../images/dark/menus/menustyle2/menu2-activetab-bg.png) 0 0 repeat-x;
}

#horiz-menu li.active,
#horiz-menu.splitmenu li.active:hover,
#horiz-menu.splitmenu li.active.sfHover,
#horiz-menu li.active.parent:hover,
#horiz-menu li.active.parent.sfHover,
#horiz-menu li.active:hover,
#horiz-menu li.active.sfHover {
	background: url(../images/dark/menus/menustyle2/menu2-activetab-bg.png) 0 0 repeat-x;
}

#horiz-menu li.active a,
#horiz-menu.splitmenu li.active:hover a,
#horiz-menu.splitmenu li.active.sfHover a,
#horiz-menu li.active.parent:hover a,
#horiz-menu li.active.parent.sfHover a,
#horiz-menu li.active:hover a,
#horiz-menu li.active.sfHover a {
	background: url(../images/dark/menus/menustyle2/menu2-activetab-bg.png) 0 0 repeat-x;
	color: #999;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a,
#horiz-menu li.parent:hover,
#horiz-menu li.parent.sfHover {
	background: url(../images/dark/menus/menustyle2/menu2-activetab-bg.png) 0 0 repeat-x;
}

#horiz-menu li li a:hover {
	color: #999;
}

#horiz-menu li.active a {
	color: #fff;
}

#horiz-menu li li.parent a.daddy,
#horiz-menu li.active li.parent a.daddy {
	background: url(../images/dark/menus/menustyle2/menu2-child.png) 95% 50% no-repeat;
}

#horiz-menu li li.parent:hover a.daddy,
#horiz-menu li.active li.parent:hover a.daddy {
	background: url(../images/dark/menus/menustyle2/menu2-child.png) 95% 50% no-repeat;
}

#horiz-menu li li, 
#horiz-menu li:hover li,
#horiz-menu li.sfHover li,
#horiz-menu li.parent:hover li,
#horiz-menu li.parent.sfHover li,
#horiz-menu li.active.parent:hover li,
#horiz-menu li.active.parent.sfHover li {
	background: url(../images/dark/menus/menustyle2/menu2-sidediv.png) 0 100% repeat-x;
}

#horiz-menu ul ul {
	background: #191919;
	border-left: 1px solid #202020;
	border-right: 1px solid #202020;
}

#horiz-menu ul ul ul {
	background: #191919;
	border-left: 1px solid #202020;
	border-right: 1px solid #202020;
}

/* mouseovers */

#horiz-menu li li a:hover {
	background: none;
}

#horiz-menu li li.active,
#horiz-menu li.active li a,
#horiz-menu li.active li a:hover {
	background: none;
}

#horiz-menu li li a {
	font-size: 100%;
	font-weight: normal;
	color: #999;
}

.menutop li.sfHover ul {
	left: -1px;
	top: 30px;
}

div#horiz-menu li li a {
	height:28px;
	line-height:28px;
}

/* @end */

/* @group Sub Menu */

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu a:hover {
	text-decoration: none;
	color: #fff;
	background: #131313 url(../images/dark/menus/menustyle2/menu2-sideactive-bg.png) 100% 0 repeat-y;
}

ul.menu li.active.parent {
	background: #131313 url(../images/dark/menus/menustyle2/menu2-sideactive-bg.png) 100% 0 repeat-y;
}

ul.menu span {
	display: block;
}

ul.menu a {
	display: block;
	line-height: 24px;
	text-indent: 10px;
	height: 24px;
	color: #999;
}

ul.menu ul {
	margin: 4px 0;
}

ul.menu ul li a {
	text-indent: 20px;
}

ul.menu ul a {
	background: none;
	text-indent: 0;
}

ul.menu ul {
	margin-left: 10px;
	padding: 0;
}

ul.menu ul ul {
	padding: 0;
	margin-left: 20px;
}

ul.menu li li {
	padding: 0;
	margin: 0;
}

ul.menu ul a {
	text-indent: 0;
}

ul.menu li.active li a {
	color: #999;
	background: url(../images/dark/menus/menustyle2/menu2-dot.png) 16px 9px no-repeat;
	border: 0;
}

ul.menu li.active a {
	background: #131313 url(../images/dark/menus/menustyle2/menu2-sideactive-bg.png) 100% 0 repeat-y;
	border: 0;
	color: #fff;
}

ul.menu li li.active a,
ul.menu li li a:hover,
ul.menu li.active li a:hover {
	color: #fff;
	background: url(../images/dark/menus/menustyle2/menu2-dot.png) 16px 9px no-repeat;
}

ul.menu li a {
	color: #999;
	padding-left: 10px;
	background: url(../images/dark/menus/menustyle2/menu2-sidediv.png) 0 100% repeat-x;
}

/* @end */

/* @group Mainmenu */

a.mainlevel {
	display: block;
	line-height: 24px;
	height: 26px;
	font-size: 100%;
	padding-left: 20px;
	text-decoration: none;
	color: #999;
}

a#active_menu {
	color: #fff;
	background: #131313 url(../images/dark/menus/menustyle2/menu2-sideactive-bg.png) 100% 0 repeat-y;
	border: 0;
}

a#active_menu.sublevel {
	color: #fff;
	background: url(../images/dark/menus/menustyle2/menu2-dot.png) 0 5px no-repeat;
}

a.sublevel {
	text-decoration: none;
	line-height: 25px;
	padding-left: 14px;
	color: #999;
	background: url(../images/dark/menus/menustyle2/menu2-dot.png) 0 5px no-repeat;
}

a.mainlevel:hover {
	text-decoration: none;
	background: #131313 url(../images/dark/menus/menustyle2/menu2-sideactive-bg.png) 100% 0 repeat-y;
	color: #fff;
}

a.sublevel:hover {
	text-decoration: none;
	color: #fff;
	background: url(../images/dark/menus/menustyle2/menu2-dot.png) 0 5px no-repeat;
}

/* @end */

div.module-menu h3 {
	padding: 0 0 0 8px;
}

div.module-menu {
	background: url(../images/dark/menus/menustyle2/module-br.png) 100% 100% no-repeat;
}

div.module-menu div {
	background: url(../images/dark/menus/menustyle2/module-tr.png) 100% 0 no-repeat;
}

div.module-menu div div {
	background: url(../images/dark/menus/menustyle2/module-bl.png) 0 100% no-repeat;
}

div.module-menu div div div {
	background: url(../images/dark/menus/menustyle2/module-tl.png) 0 0 no-repeat;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 35px;
}

div.module-menu div div div div {
	background: #131313 url(../images/dark/menus/menustyle2/menu2-sideactive-bg.png) 100% 0 repeat-y;
	padding: 0;
	margin: 0;
}

div.module-menu td {
	background: url(../images/dark/menus/menustyle2/menu2-sidediv.png) 0 100% repeat-x;
}

