/**
 * @version                1.0 November 15, 2011
 * @author                RocketTheme, LLC http://www.rockettheme.com
 * @copyright         Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license                http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */


/* @group Horizontal Menu rewotop */



#horiz-menutop {

    float: left;
    height: 51px;
    margin-left: -20px;
    margin-top: 80px;
    width: 900px;
}

#horiz-menutop2 {
        height: 30px;
        padding: 0 5px;
}

#horiz-menutop ul {
        list-style: none;
        margin: 0;
        padding: 0;
         font-size: 11px;
}

#horiz-menutop li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
}

#horiz-menutop a {
    background: none repeat scroll 0 0 transparent;
    color: #6E8AC0;
    display: block;
    float: left;
    font-size: 12.4px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-left: 0;
    padding: 0 10px;
    white-space: nowrap;
}

#horiz-menutop a:hover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
        text-decoration: none;
}

#horiz-menutop li li a,
#horiz-menutop li li a:hover,
#horiz-menutop li:hover li a,
#horiz-menutop li.sfHover li a,
#horiz-menutop li.parent:hover li a,
#horiz-menutop li.parent.sfHover li a,
#horiz-menutop li.active.parent:hover li a,
#horiz-menutop li.active.parent.sfHover li a {
        border: 0;
        background: none;
        color: #777;
}

#horiz-menutop li li.parent:hover,
#horiz-menutop li li.parent.sfHover,
#horiz-menutop li li.active.parent:hover,
#horiz-menutop li li.active.parent.sfHover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
}

#horiz-menutop li:hover a,
#horiz-menutop li.sfHover a,
#horiz-menutop li:hover a.topdaddy,
#horiz-menutop li.sfHover a.topdaddy,
#horiz-menutop a.topdaddy:hover {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 no-repeat;
}

#horiz-menutop li li:hover,
#horiz-menutop li li.sfHover,
#horiz-menutop li li:hover a:hover,
#horiz-menutop li li.sfHover a:hover,
#horiz-menutop li.active li:hover a:hover {
        background: none;
        color: #333;
}

#horiz-menutop li:hover li a,
#horiz-menutop li.sfHover li a,
#horiz-menutop li.active:hover a,
#horiz-menutop li.active.sfHover a {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 repeat-x;
}

#horiz-menutop li.active,
#horiz-menutop.splitmenu li.active:hover,
#horiz-menutop.splitmenu li.active.sfHover,
#horiz-menutop li.active.parent:hover,
#horiz-menutop li.active.parent.sfHover,
#horiz-menutop li.active:hover,
#horiz-menutop li.active.sfHover {
        background: url(../images/light/menus/menustyle4/menu4-r.png) 100% 0 no-repeat;
}

#horiz-menutop li.active a,
#horiz-menutop.splitmenu li.active:hover a,
#horiz-menutop.splitmenu li.active.sfHover a,
#horiz-menutop li.active.parent:hover a,
#horiz-menutop li.active.parent.sfHover a,
#horiz-menutop li.active:hover a,
#horiz-menutop li.active.sfHover a {
        background: url(../images/light/menus/menustyle4/menu4-l.png) 0 0 no-repeat;
        color: #00417E;

}

#horiz-menutop li:hover,
#horiz-menutop li.sfHover,
#horiz-menutop li.parent:hover,
#horiz-menutop li.parent.sfHover {
        background: none;
}

#horiz-menutop li:hover a,
#horiz-menutop li.sfHover a,
#horiz-menutop li.parent a:hover,
#horiz-menutop li.parent.sfHover a {
        background: none;
        color: #00417e;
}

#horiz-menutop li li.parent a.daddy,
#horiz-menutop li.active li.parent a.daddy {
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 95% 50% no-repeat;
}

#horiz-menutop li li.parent:hover a.daddy,
#horiz-menutop li.active li.parent:hover a.daddy {
        background: url(../images/light/menus/menustyle4/menu4-dot.png) 95% 50% no-repeat;
}

#horiz-menutop li li,
#horiz-menutop li:hover li,
#horiz-menutop li.sfHover li,
#horiz-menutop li.parent:hover li,
#horiz-menutop li.parent.sfHover li,
#horiz-menutop li.active.parent:hover li,
#horiz-menutop li.active.parent.sfHover li {
        background: url(../images/light/menus/menustyle4/menu4-sidediv.png) 0 100% repeat-x;
}

#horiz-menutop ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}

#horiz-menutop ul ul ul {
        background: #F3F6F6;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
}

/* mouseovers */

#horiz-menutop li li a:hover {
        background: none;
}

#horiz-menutop li li.active,
#horiz-menutop li.active li a,
#horiz-menutop li.active li a:hover {
        background: none;
}

#horiz-menutop li li a {
        font-size: 100%;
        font-weight: normal;
        color: #fff;
}

.menutop li.sfHover ul {
        left: -1px;
        top: 24px;
}

div#horiz-menutop li li a {
        height:28px;
        line-height:28px;
}

/* @end */


