/**
 * @version                1.0 November 15, 2011
 * @author                RocketTheme, LLC http://www.rockettheme.com
 * @copyright         Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license                http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* @group Core Elements */

html {
        height: 100%;
        margin-bottom: 1px;
}

.item-page {

margin-top: -10px
}

.items-row cols-1 row-0 {

padding-bottom: 30px;

}


.categories-list {
padding-left:3px;
}

.blog {
padding-left: 0px;
}

.img-intro-right {float:right; padding-right: 30px;}

.img-fulltext-right {float: right;padding-top: 63px; padding-right: 17px;}


/* Font family information */
body#ff-optima, #ff-optima td {
        line-height: 22px;
        font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;
}

body#ff-geneva, #ff-geneva td {
        line-height: 22px;
        font-family:  Geneva, Tahoma, "Nimbus Sans L", sans-serif;
}

body#ff-helvetica, #ff-helvetica td {
        line-height: 22px;
        font-family: Helvetica, Arial, FreeSans, sans-serif;
}

body#ff-lucida, #ff-lucida td {
        line-height: 22px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Lucida, sans-serif;
}

body#ff-georgia, #ff-georgia td {
        line-height: 22px;
        font-family: Georgia, sans-serif;
}

body#ff-trebuchet, #ff-trebuchet td {
        line-height: 22px;
        font-family: "Trebuchet MS", sans-serif;
}

body#ff-palatino, #ff-palatino td {
        line-height: 22px;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}

/* end font family information */

body {
        margin: 0;
        padding: 0;
}

form {
        margin: 0;
        padding: 0 28px;
}

.contact-form   {

        margin-left: -30px;
}

body.f-smaller,
body#ff-optima.f-smaller,
body#ff-georgia.f-smaller {
        font-size: 11px;
}

body,
body.f-default {
        font-size: 12px;
}

body#ff-optima,
body#ff-optima.f-default {
        font-size: 13px;
}

body#ff-georgia,
body#ff-georgia.f-default {
        font-size: 13px;
}

body.f-larger,
body#ff-optima.f-larger,
body#ff-georgia.f-larger {
        font-size: 15px;
}

p {
  /* setup some more readable paragraph spacing */
  margin: 10px 10px 15px 5px;
}

h1, h2, h3, h4 {
        /* setup some more readable header spacing */
        padding-bottom: 5px;
        margin: 10px 0;
        font-weight: normal;
        line-height: 100%;
}

h1 { 
        font-size: 200%;
        line-height: 14px;
        margin-left: 5px;
}

h2 {
        font-size: 120%;
        line-height:auto;
        margin-left:5px;
        font-weight:bold;
}

h3 {
    font-size: 110%;
    padding-top: 4px;
}

h4 {
        font-size: 120%;
}

a {
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

/* @end */

/* @group Joomla Elements */

.small,
.modifydate,
.createdate,
div.mosimage_caption {
        font-size: 95%;
}

.componentheading {
        font-size: 170%;
        line-height: 100%;
        padding: 0;
        margin: 25px 0 20px 0;
}

.contentheading {
        font-size: 190%;
        font-weight: normal;
        line-height: 110%;
        padding-bottom: 8px;
        margin: 15px 0 0 0;
}

td.buttonheading,
.contentpaneopen td.buttonheading {
        padding: 0px 3px 0;
}

td.column_separator {
        padding-left: 15px;

}

td.componentheading {
        padding-bottom: 15px;
}

.sectiontableheader {
          font-weight: bold;
          padding: 4px;
          line-height: 20px;
}

tr.sectiontableentry1 td,
tr.sectiontableentry2 td,
td.sectiontableentry1,
td.sectiontableentry2 {
          text-align: left;
          padding: 5px 0 5px 5px;
}

.contentpane,
.contentpaneopen {
        width: 100%;
}

/* @end */

/* @group Structure */

.wrapper {
        position: relative;
}

#top {
        height: 3px;
}

#rewomenuoben {
    background: url("../images/light/navioben-bg.png") no-repeat scroll 100% 0 transparent;
    height: 20px;
    margin-left: -321px;
    margin-top: 0px;
    padding-bottom: 40px;
    width: 960px;
}

#mod-search {
    float: right;
    height: 22px;
    margin-right: 210px;
    margin-top: -27px;
    width: 177px;
    color: #6E8AC0;
}

#mod-search input {
        padding: 2px 0 0 24px;
        overflow: hidden;
        width: 150px;
        font-size: 100%;
        border: 0;
        background: none;
        font-weight: normal;
        color: #6E8AC0;
}

.search {
color: #6E8AC0;
padding-bottom: 25px;
    padding-top: 0px;
}

#header {
        height: 00px;
}

#header {
        position: relative;
        z-index: 2;
}

#pathway {
        position: relative;
        z-index: 1;
}

img#logo {
    float: left;
    height: 139px;
    left: -1px;
    position: absolute;
    width: 960px;
}

img#footlogo {
    float: left;
    height: 109px;
    left: 0;
    position: absolute;
    width: 960px;
}

#mainbody-top3 {
        height: 0px;
}

#body-padding {
    margin-left: 0px;
    padding-bottom: 40px;
    padding-top: 15px;
    width: 620px;
}

#mainbody-padding {
        padding: 10px 0 0 0;
}

#maincol {
    float: left;
    margin-left: 0;
    width: 960px;
    padding-bottom: 10px;
}

#maincol-container {
        padding: 0 20px;
}

#sidecol-padding {
    background: noe;
    padding: 5px 0 5px 32px;
    border: 0px solid #F2F5F9;
    margin-top: 0px;
}

#sidecol {
    float: left;
margin-left: -299px;
    width: 300px;
}

#showcase {
    margin-bottom: -19px;
    margin-left: -325px;
    margin-top: 10px;
    width: 960px;
}

#bottom {
        padding: 20px;
        overflow: hidden;
}

#mainbody-bottom3 {
        height: 16px;
        margin-bottom: 20px;
}

img#rocket {
        margin-top: 17px;
        width: 158px;
        height: 25px;
        float: left;
}

#footer {
        margin-bottom: 10px;
}

.spacer .block {
        float: left;
}

.spacer.w99 .block {
        width: 100%;
}

.spacer.w49 .block {
        width: 50%;
}

.spacer.w33 .block {
        width: 33.3%;
}

.spacer.w24 .block {
        width: 25%;
}

#pathway {
    height: 20px;
    margin-bottom: 35px;
}

#horiz-menu2 {
        float: left;
}

/* @end */

/* @group Modules */

.module_menu {
margin-left: -33px;
    width: 260px;
    margin-top: -10px;
    padding-bottom: 10px;
background: url("../images/light/rewomodul-lefthg.png") no-repeat scroll 0 0 #FCFCFC;
border: 1px solid #e2e2e2;
margin-bottom: 25px;
}

.module_menu h3 {
    color: #6E8AC0;
    font-size: 110%;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 5px;
    width: 100px;
}

.module_menu ul.menu  {

    color: #6e8ac0;
}

.module,
.module-color1,
.module-color2,
.module-color3,
.module-color4,
.module-style1,
.module-style2,
.module-style1-color1,
.module-style1-color2,
.module-style1-color3,
.module-style1-color4,
.module-style2-color1,
.module-style2-color2,
.module-style2-color3,
.module-style2-color4 {
        margin-bottom:15px;
}

.newsflash {
background: url("../images/light/tafelbg1.jpg") repeat-y scroll 0 0 transparent;
    color: #FFFFFF;
    margin-bottom: -10px;
    min-height: 130px;
    padding: 5px 5px 2px 5px;
    width: 220px;
    margin-top: 4px;
}

.newsflash p{
color: #FFFFFF;
    height: 30px;
    padding: 0 5px 0 7px;
    width: 220px;
}

.newsflash h3{
 color: #FFFFFF;
}

.newsflash h4{
 color: #E9E65A;
    font-size: 14px;
    font-weight: bold;
    margin: 35px 5px 4px;
}

.newsflash a, .contentheading {
color: #FFFFFF;
    font-size: 11px;
    padding-left: 6px;
}

.custom {

    color: #FFFFFF;
    margin-bottom: 30px;
    height: 95px;
    padding: 5px;
    width: 218px;
    margin-top: 18px;
        border-color: #e2e1e1;
    border-style: solid;
    border-width: 1px;
}

.custom p{
color: #2d59a1;
    height: 30px;
    padding: 20px 5px 0 7px;
    width: 180px;
    font-size: 11px;
}

.custom h3{
 color: #FFFFFF;
}

.custom h4{
 color: #E9E65A;
    font-size: 14px;
    font-weight: bold;
    margin: 35px 5px 4px;
}

.custom a, .contentheading {
color: #FFFFFF;
    font-size: 11px;
    padding-left: 6px;
}


#bottommodules .module, #bottommodules .module-color1, #bottommodules .module-color2, #bottommodules .module-color3, #bottommodules .module-color4, #bottommodules .module-style1, #bottommodules .module-style2, #bottommodules .module-style1-color1, #bottommodules .module-style1-color2, #bottommodules .module-style1-color3, #bottommodules .module-style1-color4, #bottommodules .module-style2-color1, #bottommodules .module-style2-color2, #bottommodules .module-style2-color3, #bottommodules .module-style2-color4 {
        margin-bottom: 20px;
}

.module-style1 h3,
.module-style1-color1 h3,
.module-style1-color2 h3,
.module-style1-color3 h3,
.module-style1-color4 h3 {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 10px;
}

.module-style2 h3,
.module-style2-color1 h3,
.module-style2-color2 h3,
.module-style2-color3 h3,
.module-style2-color4 h3 {
        padding: 0 0 5px 0;
        margin: 0 0 10px 0;
}

.module-style1 div div div,
.module-style1-color1 div div div,
.module-style1-color2 div div div,
.module-style1-color3 div div div,
.module-style1-color4 div div div {
        position: relative;
        padding: 50px 15px 15px 15px;
        overflow: hidden;
}

.module-style2 div div div,
.module-style2-color1 div div div,
.module-style2-color2 div div div,
.module-style2-color3 div div div,
.module-style2-color4 div div div {
        padding: 15px;
        overflow: hidden;
}

.module-style1 div div div div,
.module-style2 div div div div,
.module-style1-color1 div div div div,
.module-style1-color2 div div div div,
.module-style1-color3 div div div div,
.module-style1-color4 div div div div,
.module-style2-color1 div div div div,
.module-style2-color2 div div div div,
.module-style2-color3 div div div div,
.module-style2-color4 div div div div {
        background: none;
        padding: 0;
        margin: 0;
}

#mainmodules .module, #mainmodules .module-color1, #mainmodules .module-color2, #mainmodules .module-color3, #mainmodules .module-color4, #mainmodules .module-style1, #mainmodules .module-style2, #mainmodules .module-style1-color1, #mainmodules .module-style1-color2, #mainmodules .module-style1-color3, #mainmodules .module-style1-color4, #mainmodules .module-style2-color1, #mainmodules .module-style2-color2, #mainmodules .module-style2-color3, #mainmodules .module-style2-color4, #bottommodules .module, #bottommodules .module-color1, #bottommodules .module-color2, #bottommodules .module-color3, #bottommodules .module-color4, #bottommodules .module-style1, #bottommodules .module-style2, #bottommodules .module-style1-color1, #bottommodules .module-style1-color2, #bottommodules .module-style1-color3, #bottommodules .module-style1-color4, #bottommodules .module-style2-color1, #bottommodules .module-style2-color2, #bottommodules .module-style2-color3, #bottommodules .module-style2-color4 {
        margin-right: 15px;
}

/* @end */

/* @group Content Styles */

/* @group Readon */

a.readon,
a.readon2 {
        margin-top: 20px;
        font-weight: normal;
        font-size: 100%;
        display: block;
        text-indent: 10px;
        width: 114px;
        height: 24px;
        line-height: 24px;
}

/* @end */

/* @group Pathway */

span.pathway {
    border-bottom: 0 solid;
    display: block;
    float: left;
    font-weight: normal;
    height: 26px;
    line-height: 25px;
    margin-top: -10px;
    overflow: hidden;
    padding: 0 0 0 6px;
}

span.showHere {margin-right: 5px;display: none;}

span.pathway img {
        float: none;
        vertical-align: top;
        width: 5px;
        height: 27px;
        padding-right: 2px;
}

span.pathway a {
        float: none;
        padding: 0 5px 0 0;
}

/* @end */

/* @group Typography */

ul.number,
ul.bullet-1,
ul.bullet-2,
ul.bullet-3,
ul.bullet-4,
ul.bullet-5,
ul.bullet-6,
ul.bullet-7,
ul.bullet-8,
ul.bullet-9,
ul.bullet-10,
ul.bullet-11,
ul.bullet-12,
ul.bullet-13,
ul.bullet-14,
ul.bullet-15,
ul.bullet-16,
ul.bullet-17,
ul.bullet-18,
ul.icon-1,
ul.icon-2,
ul.icon-3,
ul.icon-4,
ul.icon-5,
ul.icon-6 {
        padding-left: 15px;
        margin-left: 0;
}

ul.number li,
ul.bullet-1 li, 
ul.bullet-2 li,
ul.bullet-3 li,
ul.bullet-4 li,
ul.bullet-5 li,
ul.bullet-6 li, 
ul.bullet-7 li,
ul.bullet-8 li,
ul.bullet-9 li,
ul.bullet-10 li,
ul.bullet-11 li, 
ul.bullet-12 li,
ul.bullet-13 li,
ul.bullet-14 li,
ul.bullet-15 li,
ul.bullet-16 li,
ul.bullet-17 li,
ul.bullet-18 li {
        list-style: none;
        margin-left: 0;
        padding-bottom: 3px;
        margin-bottom: 5px;
        padding-left: 24px;
}

ul.icon-1 li,
ul.icon-2 li,
ul.icon-3 li,
ul.icon-4 li,
ul.icon-5 li,
ul.icon-6 li {
        list-style: none;
        margin-left: 0;
        padding-bottom: 3px;
        margin-bottom: 5px;
        padding-left: 30px;
}

pre {
        padding: 10px;
}

blockquote {
        font-style: italic;
        font-size: 120%;
        line-height: 150%;
        width: auto;
        padding: 0px 0px 5px 30px;
        margin: 15px 0;
}

blockquote p {
        padding: 0 30px 0 0;
        margin-top: 0;
}

blockquote.b {
        color: #666;
        font-style: italic;
        font-size: 110%;
        line-height: 135%;
        width: auto;
        padding: 0px 0px 5px 15px;
        margin: 15px 0 15px 15px;
        background: none;
}

/* @end */

/* @group Notice Styles */

span.alert,
span.info,
span.download,
span.note {
        display: block;
        padding: 10px 10px 10px 45px;
        margin: 15px 0;        
}

/* @end */

/* @group RokSlide */

#moduleslider-size {
        height: 220px;
        overflow: hidden;
}

#rokslide-toolbar span {
        white-space: nowrap;
}

#frame {
        text-align: left;
}

#frame .module, #frame .module-color1, #frame .module-color2, #frame .module-color3, #frame .module-color4 {
        float: left;
}

#frame .module div, #frame .module-color1 div, #frame .module-color2 div, #frame .module-color3 div, #frame .module-color4 div {
        padding: 0 5px;
}

#frame .module div div, #frame .module-color1 div div, #frame .module-color2 div div, #frame .module-color3 div div, #frame .module-color4 div div {
        padding: 0;
}

#frame .mmpr-1 .module, #frame .mmpr-1 .module-color1, #frame .mmpr-1 .module-color2, #frame .mmpr-1 .module-color3, #frame .mmpr-1 .module-color4 {
        width: 100%;
}

#frame .mmpr-2 .module, #frame .mmpr-2 .module-color1, #frame .mmpr-2 .module-color2, #frame .mmpr-2 .module-color3, #frame .mmpr-2 .module-color4 {
        width: 50%;
}

#frame .mmpr-3 .module, #frame .mmpr-3 .module-color1, #frame .mmpr-3 .module-color2, #frame .mmpr-3 .module-color3, #frame .mmpr-3 .module-color4 {
        width: 33%;
}

#frame .mmpr-4 .module, #frame .mmpr-4 .module-color1, #frame .mmpr-4 .module-color2, #frame .mmpr-4 .module-color3, #frame .mmpr-4 .module-color4 {
        width: 25%;
}

#frame .mmpr-5 .module, #frame .mmpr-5 .module-color1, #frame .mmpr-5 .module-color2, #frame .mmpr-5 .module-color3, #frame .mmpr-5 .module-color4 {
        width: 20%;
}

#tabmodules {
        overflow: hidden;
}

#tabmodules li span {
        margin-left: -1px;
}

#tabmodules li.first span {
        margin-left: 0;
}

#tabmodules div div div {
        padding-top: 10px;
        padding-bottom: 20px;
}

#tabmodules div div div div {
        background: none;
        padding: 0;
}

/* @end */

#accessibility {
        width: 150px;
        height: 20px;
        margin-top: 0px;
        margin-top: 20px;
        float: right;
}

#accessibility span {
        background-repeat: no-repeat;
}

#accessibility a {
        text-decoration: none;
        cursor: pointer;
}

#accessibility #buttons {
        float: right;
        padding-right: 10px;
}

#accessibility .button {
        display: block;
        float: right;
        width: 13px;
        height: 14px;
        margin-right: 20px;
}

a.nounder {
        text-decoration: none;
        border: 0;
        cursor: pointer;
}

a.nounder:hover {
        text-decoration: none;
}

a img.album {
        border-width: 2px;
        border-style: solid;
}

.clr {
        clear:both;
}

fieldset {
        border-left: 0;
        border-right: 0;
}

fieldset.input {
        border: 0;
        color: #6E8AC0;
}

a img {
        border: 0;
}

img.content-left {
        float: left;
        margin-right: 10px;
        padding: 5px;
}

img.content-right {
        float: right;
        margin-left: 10px;
        padding: 5px;

        }
        

#referencewidth {
        width: 100%;
        overflow:hidden;
}

body .pollstableborder {
        border: 0px;
}

.back_button {
        margin-top: 20px;
}

/* @end */

/* start sifr stuff */

.sIFR-hasFlash .module-menu h3,
.sIFR-hasFlash .module h3,
.sIFR-hasFlash .module-color1 h3,
.sIFR-hasFlash .module-color2 h3,
.sIFR-hasFlash .module-color3 h3,
.sIFR-hasFlash .module-color4 h3,
.sIFR-hasFlash .module-style1 h3,
.sIFR-hasFlash .module-style1-color1 h3,
.sIFR-hasFlash .module-style1-color2 h3,
.sIFR-hasFlash .module-style1-color3 h3,
.sIFR-hasFlash .module-style1-color4 h3,
.sIFR-hasFlash .module-style2 h3,
.sIFR-hasFlash .module-style2-color1 h3,
.sIFR-hasFlash .module-style2-color2 h3,
.sIFR-hasFlash .module-style2-color3 h3,
.sIFR-hasFlash .module-style2-color4 h3 {
        height: 20px;                          /***** IMPORANT: Change this to adjust the size of the SIFR headers *******/
        font-size: 20px;                /***** IMPORANT: Change this to adjust the size of the SIFR headers *******/
        padding: 0;
        visibility: hidden;
}

.sIFR-hasFlash .module h3 {
        margin-left: -3px;
}

.sIFR-hasFlash .module-style1 h3 {
        margin-top: -2px;
}

/* end sifr stuff */

/* rokheadrotator stuff */

#rokheadrotator {
        height: 235px;
        position: relative;
        background: none;
}

#rokheadrotator .controls {
        top: 14px;
        position: absolute;
        right: 13px;
        z-index: 1;
}

#rokheadrotator .controls img {
        background-image: url(../images/scroller-controls.png);
        cursor: pointer;
        height: 15px;
        margin-right: 11px;
        width: 15px;
}

#rokheadrotator .control-prev {
        background-position: 0pt 0pt;
}

#rokheadrotator .control-next {
        background-position: 0pt -17px;
}

#rokheadrotator .control-pause {
        background-position: 0pt -34px;
}

#rokheadrotator .control-play {
        background-position: 0pt -51px;
}
/* RokHeadRotator _EOF_ */

/* For Joomla! 1.7 */

dl {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 0 solid #6E8AC0;
    border-top: 0 solid #6E8AC0;
    color: #6E8AC0;
    display: inline;
    margin: 5px 0 10px;
}

/* General */
#mainbody ul.actions{margin:0;list-style:none;} 
#mainbody ul.actions li{list-style: none; display:inline; float:right;background: none; padding: 0 3px;} 
dl {display: block; margin: 5px 0 10px 0;}
dt, dd {display: block; margin: 2px;padding-left: 10px;}
.profile dt {margin-top: 10px; font-weight: bold;}
.profile dt, .profile dd {display: block;}
form fieldset dt {clear: left;float: left;padding: 3px 0;width: 12em;color: #6E8AC0;}
form fieldset dd {float: left;padding: 3px 0;color: #6E8AC0;}
button {margin: 10px 0;}
fieldset {border: 0;}
#mainbody p.readmore {display: block; margin-top: 15px;}
#mainbody .article-info-term {font-weight: bold;}
#mainbody .article-info dt, #mainbody .article-info dd {display: block;}
#mainbody ul#archive-items, #mainbody ul#archive-items li.row0, #mainbody ul#archive-items li.row1 {background: none; list-style:none;}
#mainbody ul#archive-items {margin: 0;padding:0;}
.nolink {cursor: default;}

/* Mulitple Columns   Layout */
.cols-2 {display: block; float: none; margin:0; clear: both;}
.cols-2 .item {width: 47.2%; margin: 10px; float: left;}
.cols-2 .column-1 {margin-left: 0;}
.cols-2 .column-2 {margin-right: 0;}
.cols-3 .item {
    border: 1px solid #e2e2e2;
    float: left;
    height: 158px;
    margin: -5px 7px 18px;
    width: 31%;
}

.column-1{}



.cols-3 h2 {line-height:1px}

.cols-3 .column-1 {margin-left: 0;margin-top: -5px;}
.cols-3 .column-3 {margin-right: 0;margin-top: -5px;}
.items-more {clear: both; display: block;}
div.pagination {clear: both; padding-top: 5px;margin-top: 10px;margin-bottom: 15px;}

.item-separator {height: 0px;background:#6E8AC0;margin-top:20px;margin-bottom: 30px;}

.blog .item-separator {height: 1px;background:#6E8AC0;margin-top:0px;margin-bottom: 30px;}

img {

padding-right: 20px;
}


/* Login Component */
#username-lbl, #password-lbl {display: block; width: 150px; margin-top: 10px;}
.login fieldset {margin-bottom: 0; padding-bottom: 0;}

/* Pagination */
#mainbody .pagination ul, #mainbody ul.pagenav {list-style:none; height: 21px;line-height: 21px;margin-top: 10px;margin-bottom: 15px;padding-left: 0;}
#mainbody .pagination ul li, #mainbody ul.pagenav li {list-style: none; float: left;margin-right: 6px;background: none; padding: 0;}
#mainbody .pagination ul li a, #mainbody ul.pagenav li a {display: block; padding: 0 8px;}

/* Breadcrumbs */
.breadcrumbs {margin: 0 0 10px 0;display: block;position:relative;overflow: hidden;height: 30px;font-size: 110%;font-weight: bold;}
.breadcrumbs-home {width: 24px;height: 24px;display: block;float: left;margin-left: 4px;margin-top: 4px;}
.breadcrumbs h3 {}
div.breadcrumbs img {}
div.breadcrumbs a, div.breadcrumbs span {padding: 0 20px 0 0px;float: left;display: block;height: 30px;line-height: 27px;}
div.breadcrumbs a:hover {text-decoration: none;}
div.breadcrumbs span.showHere {padding-right: 5px;}

/* Single Contact Style */
address {display: inline;}
.panel h3 {margin: 5px 0;}
.contact-suburb, .contact-state, .contact-postcode, .contact-country {display: block; margin-left: 25px;}
.jicons-icons {padding-right: 5px;}
.contact-form fieldset {padding: 0; border: 0;}

/* Weblinks Category */
.hidelabeltxt {display: none;}
.display-limit {text-align: right;}
.category .title {text-align: left;}
.category p {margin: 3px 0;}
.weblink-category table.category {border: 0; width: 100%;}
.weblink-category table.category thead {background: none;}
.weblink-category .cat-list-row0 td, .weblink-category .cat-list-row1 td {border-bottom: 1px solid #e7e7e7;}
.weblink-count {margin: 10px 0;}
.weblink-count dt, .weblink-count dd {display: inline; margin: 2px;}

/* Section Tables */
.sectiontableheader {font-weight: bold;padding: 3px;line-height: 25px;text-align: left;}
.sectiontablefooter {padding-bottom: 8px;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 6px 5px;vertical-align: middle;}
tr.sectiontableentry0 td, td.sectiontableentry0, tr.sectiontableentry1 td, td.sectiontableentry1, tr.sectiontableentry2 td, td.sectiontableentry2 {height: 30px;}
.contentpane, .contentpaneopen {width: 100%;}

/* Tables */
#mainbody table {border-collapse: collapse;}
#mainbody table.weblinks, #mainbody table.category {font-size: 1em;margin: 10px 10px 20px 0px;width: 99%;}
#mainbody table.weblinks td {border-collapse: collapse;}
#mainbody table.weblinks td, #mainbody table.category td {padding: 7px;vertical-align: top;}
#mainbody table.weblinks th, #mainbody table.category th {padding: 7px;text-align: left;}
#mainbody td.num {vertical-align: top;text-align: left;}
#mainbody td.hits {vertical-align: top;text-align: center;}
#mainbody td p {margin: 0;line-height: 1.3em;}
#mainbody .filter {margin: 10px 0;}
#mainbody .display-limit, #mainbody .filter {text-align: right;margin-right: 7px;}
#mainbody table.category th a img {padding: 2px 10px;}
#mainbody .filter-search {float: left;}
#mainbody .filter-search .inputbox {width: 6em;color: #6E8AC0;}
#mainbody legend.element-invisible {position: absolute;margin-left: -3000px;margin-top: -3000px;height: 0;}
#mainbody .cat-items {margin-top: 20px;}

/* Contact */
#mainbody .contact h2 {
    font-weight: bold;
    margin-left: -1px;
    padding: 0 0;
}
#mainbody .contact h3 {
   display:none;
}
#mainbody .contact-contactinfo  p {
    margin: 0 0 5px 5px;
}
#mainbody .contact-contactinfo {margin-left:-5px;padding-bottom: 10px;}
#mainbody .contact {padding: 0 8px;}
#mainbody .contact-category {padding: 0 10px;}
#mainbody .contact-category  #mainbody #adminForm fieldset.filters {border: 0;padding: 0;}
#mainbody .contact-image {margin: 10px 0;overflow: hidden;}
#mainbody address {font-style: normal;margin: 10px 0;}
#mainbody address span {display: block;margin-left: 0;}
#mainbody .contact-address {margin: 20px 0 10px 0;}
#mainbody .contact-email div {padding: 2px 0;margin: 0 0 10px 0;}
#mainbody .contact-email label {width: 17em;float: left;}
#mainbody span.contact-image {margin-bottom: 10px;overflow: hidden;display: block;}
#mainbody #contact-textmsg {padding: 2px 0 10px 0;}
#mainbody #contact-email-copy {float: left;margin-right: 10px;}
#mainbody .contact .button {float: none !important;clear: left;display: block;margin: 20px 0 0 0;}
#mainbody dl.tabs {float: left;margin: 50px 0 0 0;z-index: 50;clear: both;}
#mainbody dl.tabs dt {float: left;padding: 4px 10px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-top: 1px solid #ccc;margin-right: 3px;background: #f0f0f0;color: #666;}
#mainbody dl.tabs dt.open {background: #F9F9F9;border-bottom: 1px solid #F9F9F9;z-index: 100;color: #000;}
#mainbody div.current {clear: both;border: 1px solid #ccc;padding: 10px 10px;max-width: 500px;}
#mainbody div.current dd {padding: 0;margin: 0;}
#mainbody dl#content-pane.tabs {margin: 1px 0 0 0;}

/* Weblinks */
#mainbody .weblinks fieldset div {overflow: hidden;}
#mainbody .weblinks label.label-left {display: block;width: 150px;float: left;}

/* Search */
#mainbody .display_limit p.counter {width: 200px; float: left;}
#mainbody .search-results {clear: both;}
#mainbody .search-results ol li {background: none; padding-left: 0;}
#mainbody .searchintro {font-weight: normal;margin: 20px 0 20px;}
#mainbody #searchForm {padding: 0;color: #6E8AC0;}
#mainbody .form-limit {margin: 20px 0 0;text-align: right;padding: 0 10px 0 20px;}
#mainbody .highlight {font-weight: bold;}
#mainbody .ordering-box {float: none;}
#mainbody .phrases-box {float: none;margin-bottom: 10px;}
#mainbody .ordering-box .inputbox {color: #6E8AC0;width: auto !important}
#mainbody .only, #mainbody .phrases {margin: 10px 0 0 0px;padding: 15px 0;line-height: 1.3em;display: none;}
#mainbody label.ordering {display: block;margin: 10px 0 10px 0;}
#mainbody .word {padding: 0;color: #6E8AC0;}
#mainbody .word input {font-weight: normal;color: #6E8AC0;}
#mainbody .word label {font-weight: bold;color: #6E8AC0;}
#mainbody fieldset.only label, #mainbody fieldset.phrases label {margin: 0 10px 0 0;color: #6E8AC0;}
#mainbody .ordering-box label.ordering {margin: 0 10px 5px 0;float: left;}
#mainbody form .search label {display: none;color: #6E8AC0;}
#mainbody dl.search-results dt.result-title {padding: 15px 15px 0px 5px;font-weight: bold;}
#mainbody dl.search-results dd {padding: 2px 15px 2px 5px;}
#mainbody dl.search-results dd.result-text {padding: 10px 15px 10px 5px;line-height: 1.7em;}
#mainbody dl.search-results dd.result-created {padding: 2px 15px 15px 5px;}
#mainbody dl.search-results dd.result-category {padding: 10px 15px 5px 5px;}
#mainbody #search-results dl, #mainbody #search-results dt, #mainbody #search-results dd {display: block; padding-left: 0; margin-left: 0;}

/* RokAjaxSearch */
#roksearch_results span.small span.small {display: block; margin: 10px -10px 0 0; position: relative;color: #6E8AC0;}
#searchForm fieldset.word {border: 0;color: #6E8AC0;}
form.search_result input#search_searchword.inputbox {margin-top: 10px;color: #6E8AC0;}

/* Editing */
.edit #editor-xtd-buttons a:link, .edit #editor-xtd-buttons a:visited, .edit #editor-xtd-buttons a:hover {color: #323232;}
.edit .inputbox, .edit textarea {border: 1px solid #6E8AC0;;}
.edit legend {font-size: 150%;}
.edit form#adminForm fieldset {padding: 20px 15px;margin: 10px 0 15px 0;}
.formelm {margin: 5px 0;}
.formelm label {width: 9em;display: inline-block;}
form#adminForm .formelm-area {padding: 5px 0;}
form#adminForm .formelm-area label {vertical-align: top;display: inline-block;width: 7em}
.formelm-buttons {text-align: right;margin-bottom: 10px}
.button2-left {float: left;margin-right: 5px;margin-top: 10px;}
.button2-left a {background: #eee;padding: 4px;margin: 0;line-height: 1.2em;border: solid 1px #ddd;font-weight: bold;text-decoration: none;}
.edit-article fieldset legend {font-size: 230%;}
.edit-article fieldset div {overflow: visible;margin-bottom: 8px;}
.edit-article fieldset #editor-xtd-buttons div {clear: none;}
#system-message dd.notice {border: 0;background: none;}
.save .readon {margin-left: 10px;}
div.calendar {z-index: 9999;}
.tip-wrap {z-index: 100; background: #333; padding: 5px; color: #fff;}
.edit .formelm {margin-bottom: 10px;}
.edit .calendar {margin-left: 5px; vertical-align: bottom;}
.profile-edit .readon {vertical-align: middle;}
.list-title a {float: left;}

/* Editor */
#editor-xtd-buttons {padding: 5px 0;}
.button2-left {margin-top: 5px;margin-right: 5px;}
.button2-left, .button2-right, .button2-left div, .button2-right div {float: left;}
 .button2-left .linkmacro,  .button2-left .image {background: none;}
.toggle-editor .button2-left {margin-top: 0px;}
.button2-left a {line-height: 2.0em;}
.button2-left a, .button2-right a, .button2-left span, .button2-right span {display: block;height: 22px;float: left;line-height: 22px;font-size: 11px;cursor: pointer;margin-bottom: 5px;}
.button2-left span, .button2-right span {cursor: default;}
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span {padding: 0 6px;}
.button2-left a:hover, .button2-right a:hover {text-decoration: none;}
.button2-left a, .button2-left span {padding: 0 6px !important;}
.button2-right a, .button2-right span {padding: 0 6px !important;}
.button2-left .blank a {padding-right: 6px;}
.img_caption.left {float: left;margin-right: 1em;}
.img_caption.right {float: right;margin-left: 0em; border: 1px solid #cccccc; padding: 5px 20px; }
.img_caption p {clear: left;text-align: center;display: none}
.img_caption.left p {clear: left;text-align: center;display: none}
.img_caption.right p {clear: right;text-align: center;display: none;}
.img_caption.right img {padding-right:5px;}
.item column-1 {padding-right:5px}
.img_caption {text-align: center !important; width: 90px;}
.edit-article fieldset div input, .edit-article fieldset textarea {padding: 4px;}
.edit-article fieldset div .label-left {padding: 0;}
.edit-article fieldset div img.calendar {vertical-align: middle;margin-left: 5px;}

